<div id="ajax_output"></div>
(@farm: <%= @farm_id %> @farms: <%= (@farms.collect {|e| e.name}).inspect if @farms %>
(@pivot: <%= @pivot_id %> @pivots: <%= (@pivots.collect {|e| e.name}).inspect if @pivots %>
(@field: <%= @field_id %> @fields: <%= (@fields.collect {|e| e.name}).inspect if @fields %>
(@crop: <%= @crop_id %> @crops: <%= (@crops.collect {|e| e.name}).inspect if @crops %>