<div id="tableDataBox">

        <script type="text/javascript">
          var lastsel;
          var isLai = <%= @field.et_method.method_name == "LAI" ? 'true' : 'false' %>;
          var laiFormatter,pctCoverFormatter;
          var laiIsEditable,pctCoverIsEditable;
          if (isLai) {
            laiFormatter = 'number';
            laiIsEditable = true;
            pctCoverFormatter = dashesFormatter;
            pctCoverIsEditable = false;
          } else {
            laiFormatter = dashesFormatter;
            laiIsEditable = false;
            pctCoverFormatter = 'number';
            pctCoverIsEditable = true;
          }
          function dashesFormatter(cellvalue, options, rowObject) {
            return '--';
          }
          // Example of how to set the pager to a given page in JS
          // function page5() {
          //   mygrid.setGridParam({page:5}).trigger('reloadGrid');
          // }
          function displayCalcValues(rowid,response) {
            $("#weather").trigger("reloadGrid");
            plotGraph();
            $('#projectedADBox').load("<%= url_for :controller => 'wisp', :action => :summary_box %>");
            return true;
          }
          var mygrid;
          jQuery(document).ready(function(){
            mygrid = jQuery("#weather").jqGrid({
              url:'<%= url_for merge_usuals(:controller => "field_daily_weather", :q => 1) %>',
              editurl:'<%= url_for merge_usuals(:controller => "field_daily_weather", :action  => :post_data, :parent_id => @field) %>',
              datatype: "json",
              colNames:['Date','Ref. ET','Rainfall','Irrigation','% Moist.',
                '% Cover','LAI','Adj. ET','AD','Deep Drain','ID'],
              colModel:[{name:'date', index:'date',width:80},
                {name:'ref_et', index:'ref_et',width:67,editable:true, align:'right',
                 formatter:'number', formatoptions:{decimalPlaces:2}},
                {name:'rain', index:'rain',width:67,editable:true, align:'right',
                 formatter:'number', formatoptions:{decimalPlaces:2}},
                {name:'irrigation', index:'irrigation',width:67,editable:true, align:'right',
                 formatter:'number', formatoptions:{decimalPlaces:2}},
                {name:'pct_moisture', index:'pct_moisture',width:67,
                 editable:true, align:'right',
                 formatter:'number', formatoptions:{decimalPlaces:2}},
                {name:'entered_pct_cover', index:'entered_pct_cover',width:67,
                 editable:pctCoverIsEditable, hidden:laiIsEditable,align:'right',
                 formatter:pctCoverFormatter, formatoptions:{decimalPlaces:0}},
                {name:'leaf_area_index', index:'leaf_area_index',width:57,
                  editable:laiIsEditable, hidden:pctCoverIsEditable, align:'right',
                 formatter:laiFormatter, formatoptions:{decimalPlaces:2}},
                {name:'adj_et', index:'adj_et',width:67, align:'right',
                 formatter:'number', formatoptions:{decimalPlaces:2}},
                {name:'ad', index:'ad',width:57, align:'right',
                 formatter:'number', formatoptions:{decimalPlaces:2}},
                {name:'deep_drainage', index:'deep_drainage',width:80, align:'right',
                 formatter:'number', formatoptions:{decimalPlaces:1}},
                {name:'id', index:'id',width:1,editable:true,hidden:true}           
              ], 
              pager: '#weather_pager',
              rowNum:7,
              rowList:[7,153],
              imgpath: '<%= image_folder_path("jqgrid") %>',
              sortname: '',
              viewrecords: true,
              height: 158,
              sortorder: '',
              gridview: false,
              scrollrows: true,
              autowidth: false,
              rownumbers: false,
              multiselect: false,
              onSelectRow: function(id){
                if(id){
                  if (id!==lastsel){
                    jQuery('#weather').restoreRow(lastsel);
                  } 
                  jQuery('#weather').editRow(id,true, '', '', '', '', displayCalcValues); 
                  lastsel=id; 
                } 
              },             
              subGrid:false,
              caption: "Edit Observed Values Below"
            })
            .navGrid('#weather_pager',
              {edit:false,add:false,del:false,search:false,refresh:true},
              {afterSubmit:function(r,data){return true;(r,data,'edit');}}
            )
            mygrid.filterToolbar();mygrid[0].toggleToolbar()
          });
        </script>

        <table id="weather" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="weather_pager" class="scroll" style="text-align:center;"></div>
        <!-- This button jumps to Page 5; you could populate a week dropdown the same way -->
        <!-- <button onclick="page5();"/> -->
      
</div>