<div id="pivotDataGrid">

        <script type="text/javascript">
          var lastsel;
          function addDeleteButton(cl) {
            be = "<input style='height:22px;width:35px;' type='button' value='Del' onclick=jQuery('#pivot_setup').delGridRow("+cl+");$('#pivot_setup').trigger('reloadGrid'); ></ids>"; 
            jQuery("#pivot_setup").setRowData(cl,{act:be}) 
          }
          jQuery(document).ready(function(){
            <%= grid_javascript_settings %>
            // Load the dependent field and crop grids with appropriate values
            $('#fieldDataGrid').load('<%= url_for merge_usuals(:controller => "wisp", :action => :field_setup_grid) %>',{pivot_id:<%=@pivot_id%>});
          var mygrid = jQuery("#pivot_setup").jqGrid({
              url:'<%= url_for merge_usuals(:controller => "pivots", :q => 1) %>',
              editurl:'<%= url_for :controller => "pivots", :action  => :post_data, :parent_id => @farm_id %>',
              datatype: "json",
              // t.integer  "farm_id"
              // t.string   "name"
              // t.float    "latitude"
              // t.float    "longitude"
              // t.string   "equipment"
              // t.float    "pump_capacity"
              // t.float    "some_energy_rate_metric"
              // t.integer  "cropping_year"
              // t.string   "notes"
              // 
              colNames:['Name','Lat.','Long.','Equipment','Pump Capacity','Energy','Crop Yr','Notes','Delete',' '],
              // colNames:['Name',' '],
              colModel:[ 
                         {name:'name', index:'name',width:83,editable:true},
                         {name:'latitude', index:'latitude',width:18,editable:true, align:'right'},
                         {name:'longitude', index:'longitude',width:18,editable:true, align:'right'},
                         {name:'equipment', index:'equipment',width:60,editable:true, align:'right'},
                         {name:'pump_capacity', index:'pump_capacity',width:50,editable:true, align:'right'},
                         {name:'some_energy_rate_metric', index:'some_energy_rate_metric',width:25,editable:true, align:'right'},
                         {name:'cropping_year', index:'cropping_year',width:25,editable:true, align:'right'},
                         {name:'notes', index:'notes',width:120,editable:true, align:'right'},
                         {name:'act', index:'act', width:20},
                         {name:'id', index:'id',width:1,hidden:true},
                         ],
              pager: '#pivot_setup_pager',
              rowNum:180,
              rowList:[180],
              imgpath: '<%= image_folder_path("jqgrid") %>',
              sortname: '',
              viewrecords: true,
              height: 110,
              width: 918,
              sortorder: '',
              gridview: false,
              scrollrows: true,
              autowidth: false,
              rownumbers: false,
              multiselect: false,
              
              loadComplete: function(){ 
                  var ids = jQuery("#pivot_setup").getDataIDs(); 
                  for(var i=0;i<ids.length;i++){ 
                      var cl = ids[i];
                      addDeleteButton(cl); 
                      // be = "<input style='height:22px;width:35px;' type='button' value='Del' onclick=jQuery('#pivot_setup').delGridRow("+cl+");$('#pivot_setup').trigger('reloadGrid'); ></ids>"; 
                      // jQuery("#pivot_setup").setRowData(cl,{act:be}) 
                  } 
              },
              
              onSelectRow: function(id){ 
                if(id && id!==lastsel){ 
                  jQuery('#pivot_setup').restoreRow(lastsel);
                  jQuery('#pivot_setup').editRow(id,true); 
                  lastsel=id;
                  pivot_id=id;
                  $('#fieldDataGrid').load('<%= url_for :controller => "wisp", :action => :field_setup_grid %>',
                    {pivot_id:id,user_id:user_id, farm_id:farm_id,pivot_id:pivot_id,field_id:field_id,crop_id:crop_id});
                } 
              },             
              
              
              subGrid:false,
              
              caption: "Pivots <%= @farm ? "for #{@farm.name}" : '' %>"
            })
            // .navGrid('#pivot_setup_pager',
            //   {edit:false,add:true,del:true,search:false,refresh:true},
            //   {afterSubmit:function(r,data){return true;(r,data,'edit');}},
            //   {afterSubmit:function(r,data){return true;(r,data,'add');}},
            //   {afterSubmit:function(r,data){return true;(r,data,'delete');}}
            // )
            
            mygrid.filterToolbar();mygrid[0].toggleToolbar()
          });
          
          function addNewPivotRow() {
            var grid = $('#pivot_setup');
            newPivot = createNewPivot();
            curID = newPivot['id'];
            grid.addRowData(curID, newPivot); // add a new row with the new field's data
            addDeleteButton(curID);
            grid.editRow(curID,true); // put new row into inline-edit mode
          }

          function createNewPivot() {
            var pvt={};
            $.ajax(
              {
                type: "POST",
                url: '<%= grid_post_data_url "pivots", @farm %>' + '&oper=add&id=_empty', 
                dataType: "json",
                async: false,
                success: function(json) {
                  pvt = json;
                }
              }
            );
            return pvt;
          }
        </script>

        <table id="pivot_setup" class="scroll" cellpadding="0" cellspacing="0"></table>
        <button type="button" onclick="addNewPivotRow();">Add New Pivot</button>
        
        <!-- <div id="pivot_setup_pager" class="scroll" style="text-align:center;"></div> -->
      
</div>