<div id="pivotDataGrid">

        <script type="text/javascript">
        <%= grid_javascript_settings %>
          var lastPivotSel;
          // If pivot_id is set, load the field grid for that one. If it's zero,
          // grab the id of the first pivot in the grid and use that.
          function loadFieldGrid(throwaway1,throwaway2) {
            // alert('loadFieldGrid');
            if (pivot_id == 0) {
              pivot_id = $("#pivot_setup").getDataIDs()[0];
              lastPivotSel=pivot_id;
            }
            $('#fieldDataGrid').load('<%= url_for :controller => "wisp", :action => :field_setup_grid %>',
              // {pivot_id:pivot_id,user_id:user_id, farm_id:farm_id});
              '&pivot_id='+pivot_id+'&farm_id='+farm_id);
          }
          function rowSelect(id) {
            if(id) { 
              if (!lastPivotSel || id !== lastPivotSel) {
                jQuery('#pivot_setup').restoreRow(lastPivotSel);
                jQuery('#pivot_setup').editRow(id,true); 
                lastPivotSel=id;
                pivot_id=id;
                loadFieldGrid(); // will load for the pivot id we just selected
              }
            } 
          }
         function deletePivot(id) {
            pivot_id = 0; // We no longer know what the current one is; find out after grids reload
            jQuery('#pivot_setup').delGridRow(id,{afterSubmit:loadFieldGrid});
          }
          function addPivotDeleteButtons() {
            var ids = jQuery("#pivot_setup").getDataIDs();
            nRows = ids.length;
            for(var i=0;i<nRows;i++){ 
              var id = ids[i];
              if (nRows == 1) {
                be = "<input style='height:22px;width:35px;' type='button' value='Del' disabled='true' title='Cannot delete only pivot'/>";
              } else {
                // $('#pivot_setup').trigger('reloadGrid');
                be = "<input style='height:22px;width:35px;' type='button' value='Del' onclick='deletePivot("+id+");' ></ids>"; 
              }
              jQuery("#pivot_setup").setRowData(id,{act:be}); 
            } 
          }
          function addNewPivotRow() {
            var grid = $('#pivot_setup');
            newPivot = createNewPivot();
            pivot_id = newPivot['id'];
            grid.addRowData(pivot_id, newPivot); // add a new row with the new field's data
            addPivotDeleteButtons();
            grid.editRow(pivot_id,true); // put new row into inline-edit mode
            loadFieldGrid();
          }

          function createNewPivot() {
            var pvt={};
            $.ajax(
              {
                type: "POST",
                url: '<%= url_for :controller => 'pivots', :action => :post_data %>',
                dataType: "json",
                data: {farm_id:farm_id,parent_id:farm_id,oper:'add',id:'_empty'},
                contentType: "application/x-www-form-urlencoded", // This is so Rails knows to decode it
                async: false,
                success: function(json) {
                  pvt = json;
                }
              }
            );
            return pvt;
          }
          
          jQuery(document).ready(function(){
            // Load the dependent field and crop grids with appropriate values
            <%= grid_javascript_settings %> // Sets pivot_id
            loadFieldGrid();
            var mygrid = jQuery("#pivot_setup").jqGrid({
              url:'<%= url_for(:controller => "pivots", :q => 1, :farm_id => @farm_id) %>',
              editurl:'<%= grid_post_data_url "pivots", @farm_id %>',
              datatype: "json",
              // t.integer  "farm_id"
              // t.string   "name"
              // t.float    "latitude"
              // t.float    "longitude"
              // t.string   "equipment"
              // t.float    "pump_capacity"
              // t.float    "some_energy_rate_metric"
              // t.integer  "cropping_year"
              // t.string   "notes"
              // 
              colNames:['Name','Lat.','Long.','Equipment','Pump Capacity','Energy','Crop Yr','Notes','Delete','Farm ID','ID'],
              // colNames:['Name',' '],
              colModel:[ 
                         {name:'name', index:'name',width:83,editable:true},
                         {name:'latitude', index:'latitude',width:18,editable:true, align:'right'},
                         {name:'longitude', index:'longitude',width:18,editable:true, align:'right'},
                         {name:'equipment', index:'equipment',width:60,editable:true, align:'right'},
                         {name:'pump_capacity', index:'pump_capacity',width:50,editable:true, align:'right'},
                         {name:'some_energy_rate_metric', index:'some_energy_rate_metric',width:25,editable:true, align:'right'},
                         {name:'cropping_year', index:'cropping_year',width:25,editable:false, align:'right'},
                         {name:'notes', index:'notes',width:100,editable:true, align:'right'},
                         {name:'act', index:'act', width:20},
                         {name:'farm_id',index:'farm_id',width:10,hidden:true,editable:true},
                         {name:'id', index:'id',width:1,hidden:true,editable:true},
                         ],
              pager: '#pivot_setup_pager',
              rowNum:180,
              rowList:[180],
              imgpath: '<%= image_folder_path("jqgrid") %>',
              sortname: '',
              viewrecords: true,
              height: 110,
              width: 918,
              sortorder: '',
              gridview: false,
              scrollrows: true,
              autowidth: false,
              rownumbers: false,
              multiselect: false,
              
              loadComplete: function(){ 
                  addPivotDeleteButtons();
              },
              onSelectRow: rowSelect,
              subGrid:false,
              
              caption: "Pivots <%= @farm ? "for #{@farm.name}" : '' %>"
            })
            // .navGrid('#pivot_setup_pager',
            //   {edit:false,add:true,del:true,search:false,refresh:true},
            //   {afterSubmit:function(r,data){return true;(r,data,'edit');}},
            //   {afterSubmit:function(r,data){return true;(r,data,'add');}},
            //   {afterSubmit:function(r,data){return true;(r,data,'delete');}}
            // )
            
            mygrid.filterToolbar();mygrid[0].toggleToolbar()
          });
          
        </script>

        <table id="pivot_setup" class="scroll" cellpadding="0" cellspacing="0"></table>
        <button type="button" onclick="addNewPivotRow();">Add New Pivot</button>
        
        <!-- <div id="pivot_setup_pager" class="scroll" style="text-align:center;"></div> -->
      
</div>
