<% content_for :title do %>
  <%= title %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
    <%= do_welcome %>
<% end %>

<h2>Select Desired Daily Climate Data</h2>
<form name="select" METHOD="GET" ACTION="http://www.soils.wisc.edu/asigServlets/AWSDownload">
<B>First, </B>please select the station whose data you wish to download: <P>
The list box
below lists the stations available, showing the station number, the first
day of data available for that station, the last day of data available,
and the station's name.
<P>
<input TYPE="hidden" NAME="rpt_type" VALUE="411">
<%= render :partial => 'date_selector' %>

<P><HR><P>

<B>Next, </B> please choose the data fields you wish to include:
<P>
<input TYPE="checkbox" NAME="show_first_line" VALUE="yes" CHECKED>&nbsp&nbsp Display
data field abbreviations as first line of data (column headings)
<br><input TYPE="checkbox" NAME="year_doy" VALUE="yes">&nbsp&nbsp Display date as
year and day-of-year (default is year-month-day)
<P>
<table BORDER=5 CELLPADDING=3>
<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="stnid">&nbsp&nbsp Station Number</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="theDate">&nbsp&nbsp Date</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="theTime">&nbsp&nbsp Time</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DMnBatt">&nbsp&nbsp Minimum Battery
Voltage (Volts)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DToPcpn">&nbsp&nbsp Total Precipitation
(mm)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvSol">&nbsp&nbsp Average Solar
Radiation (W/m2)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvTAir">&nbsp&nbsp Average Air
Temperature (Deg C)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DMxTAir">&nbsp&nbsp Maximum Air
Temperature (Deg C)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DTxTAir">&nbsp&nbsp Time of Max
Air Temp (HHMM)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DMnTAir">&nbsp&nbsp Minimum Air
Temperature (Deg C)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DTnTAir">&nbsp&nbsp Time of Min
Air Temp (HHMM)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvRHum">&nbsp&nbsp Average Relative
Humidity (Percent)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DMxRHum">&nbsp&nbsp Maximum Relative
Humidity (Percent)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DTxRHum">&nbsp&nbsp Time of Max.
Rel. Hum. (HHMM)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DMnRHum">&nbsp&nbsp Minimum Relative
Humidity (Percent)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DTnRHum">&nbsp&nbsp Time of Min.
Rel. Hum. (HHMM)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvVPre">&nbsp&nbsp Average Vapor
Pressure (kPa)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvVDef">&nbsp&nbsp Average Vap.
Pres. Deficit (kPa)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DPkWind">&nbsp&nbsp Peak Wind
(m/s)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DTkWind">&nbsp&nbsp Time of the
Peak Wind (HHMM)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvWind">&nbsp&nbsp Average Wind
(m/s)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DRsWind">&nbsp&nbsp Resultant
Wind (m/s)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DRsDir">&nbsp&nbsp Resultant Wind
Direction (Degrees)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DDvDir">&nbsp&nbsp Std. Dev. of
Res. Wind Dir. (Degrees)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvPAR">&nbsp&nbsp Average Phot.
Active Region Rad. (uMoles/(m2s))</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DMxWnd1">&nbsp&nbsp One Minute
Maximum Wind (m/s)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DTxWnd1">&nbsp&nbsp Time of 1
Min. Max. Wind (HHMM)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DMxDir1">&nbsp&nbsp Dir of 1 Min.
Max. Wind (Degrees)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DAvTdew">&nbsp&nbsp Average Dew
Temperature (Deg C)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DMxTdew">&nbsp&nbsp Maximum Dew
Temperature (Deg C)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DTxTdew">&nbsp&nbsp Time of Max.
Dew Temp. (HHMM)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DMnTdew">&nbsp&nbsp Minimum Dew
Temperature (Deg C)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DTnTdew">&nbsp&nbsp Time of Min.
Dew Temp. (HHMM)</td>
</tr>

<tr>
<td><input TYPE="checkbox" NAME="data_field" VALUE="DRefET">&nbsp&nbsp Reference Evapo-Transpiration
(Inches)</td>

<td><input TYPE="checkbox" NAME="data_field" VALUE="DPctClr">&nbsp&nbsp Percent Clear
Sky (Percent)</td>
<td align="center">-</td>
</tr>
</table>

<P><HR><P>

<B>Next, </B> <%= date_selector_section %>
<P><HR><P>
<B>Finally, </B>select whether you want to view the data in your browser or download them
to a file, and click the "Download Data" button to obtain your data.

<BR/><input TYPE="radio" NAME="download_to_file" VALUE="false" CHECKED /> View data in browser
<BR/><input TYPE="radio" NAME="download_to_file" VALUE="true"/> Download directly to file
<P><input type="submit" value="Download Data">&nbsp&nbsp<input type="reset" value="Clear All Checkboxes">
</form>