<% if @problems && @problems.size > 0 %>
  <div id="farmProblemsTable">
  <% for farm in @farms %>
    <% farm_problems = @problems.select { |p| p.keys.first.pivot.farm_id == farm.id }%>
    <% if farm_problems && farm_problems.size > 0 %>
      <p><b><%= farm_problems.size %> field(s) are projected below allowable depletion<%= farm ? " for #{farm.name}" : "" %></b></p>
      <table class="fancy-table" summary="Action Items for Farm">
        <thead>
          <tr>
            <th>Field name</th>
            <th width="25%">Calculated or projected AD</th>
            <th width="15%">On</th>
          </tr>
        </thead>
        <tbody>
          <% farm_problems.each do |problem| %>
            <% problem.each do |field,date_plus_val|%>
              <tr>
                <td>
                  <div class="inline-flex">
                    <%= link_to "View", {controller: "wisp", action: "field_status", field_id: field[:id]}, class: "btn btn-light" %>
                    <b><%= field.name %></b>
                  </div>
                </td>
                <td><%= sprintf('%0.1f',date_plus_val[1]) %> in</td>
                <td><%= date_plus_val[0].strftime("%b %d, %Y") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %> <!-- if problems and size > 1 -->
  <% end %> <!-- loop on farms -->
  </div>
<% else %>
  <b>No fields below allowable depletion.</b>
<% end %>
