<script>
  let crop_id;
  let allowEditCrop = false; // don't edit jqgrid on first click
  
  // datepicker re-focus per
  // http://stackoverflow.com/questions/18626761/how-to-set-focus-on-specific-cell-in-onselectrow-in-inline-edit-jqgrid
  // to set the focus, and 
  // http://stackoverflow.com/questions/15342360/jquery-datepicker-onclose-select-next
  // for the onClose event handler
  
  // Propagate changes from select-clicked event onwards
  // From stackoverflow.com/questions/5247138/jqgrid-change-cell-value-and-stay-in-edit-mode
  function set_crop_characteristics_from_event(event) {
    let rowID = $(event.target).closest('tr.jqgrow').attr('id');
    plant_id = parseInt($(event.target).val(), 10);
    set_crop_characteristics(rowID, plant_id);
  }

  // This Ruby helper enumerates all plants (just default MRZD at this point), same order as the select box
  function set_crop_characteristics(curFieldID, plant_id) {
    let plants = <%= plant_characteristics %>;
    dmrzd = plants[plant_id]['default_max_root_zone_depth'];
    $(`#${curFieldID}_max_root_zone_depth`).val(dmrzd);
  }

  function init_datepicker(el, id_suffix) {
    setTimeout(() => {
      $(el).datepicker({
        dateFormat: "yy-mm-dd",
        onClose: (selectedDate) => {
          $("#" + $.jgrid.jqID(crop_id) + id_suffix).focus();
        }
      });
    }, 200);
  }

  const cropGridOpts = {
    url: '<%= grid_data_url("crops", @field).html_safe %>',
    editurl: '<%= grid_post_data_url("crops", @field).html_safe %>',
    datatype: 'json',
    colNames: ['Name', 'Plant', 'Variety', 'Emergence', 'Harvest/Kill', 'Root zone depth', 'AD Frac.', 'Notes', 'ID', 'Field ID'],
    colModel: [
      { name: 'name', index: 'name', width: 40, editable: true },
      {
        name: 'plant_id', index: 'plant_id', width: 30, sortable: true, formatter: 'select',
        editable: true, edittype: 'select', editrules: { required: true }, editoptions: {
          value: "<%= plant_types_for_select %>",
          dataEvents: [{ type: 'change', fn: set_crop_characteristics_from_event }]
        },
      },
      { name: 'variety', index: 'variety', width: 40, editable: true },
      {
        name: 'emergence_date', index: 'emergence_date', width: 30, align: 'right',
        editable: true, editrules: { date: true },
        editoptions: { dataInit: (el) => { init_datepicker(el, '_emergence_date') } },
      },
      {
        name: 'harvest_or_kill_date', index: 'harvest_or_kill_date', width: 30, align: 'right',
        editable: true, editrules: { required: false, date: true },
        editoptions: { dataInit: (el) => { init_datepicker(el, '_harvest_or_kill_date') } },
      },
      {
        name: 'max_root_zone_depth', index: 'max_root_zone_depth', width: 35, align: 'right',
        editable: true, editrules: { number: true, minValue: 0, maxValue: 60 },
      },
      {
        name: 'max_allowable_depletion_frac', index: 'max_allowable_depletion_frac', width: 20, align: 'right',
        editable: true, editrules: { number: true, minValue: 0.0, maxValue: 1.0 },
      },
      { name: 'notes', index: 'notes', width: 45, align: 'right', editable: true },
      { name: 'id', index: 'id', width: 1, hidden: true },
      { name: 'field_id', index: 'field_id', width: 1, hidden: true, editable: true}
    ],
    pager: '',
    rowNum: 1,
    imgpath: '<%= image_folder_path("jqgrid") %>',
    sortname: '',
    viewrecords: true,
    sortorder: '',
    gridview: false,
    scrollrows: true,
    autowidth: true,
    height: 25,
    rownumbers: false,
    multiselect: false,
    subGrid: false,
    onSelectRow: (id) => {
      const grid = $("#cropSetupGrid");
      if (id == crop_id && allowEditCrop) {
        grid.editRow(id, true);
      } else {
        grid.restoreRow(crop_id);
        allowEditCrop = true;
        crop_id = id;
      }
    },
    loadComplete: () => {
      const grid = $("#cropSetupGrid");
      crop_id = grid.getDataIDs()[0];
      allowEditCrop = false;
      grid.setSelection(crop_id);
    },
    caption: "Crop for field '<%= @field&.name %>'",
  }
 
  $(() => {
    $("#cropSetupGrid").jqGrid(cropGridOpts);
  });
</script>

<div class="grid-container">
  <table id="cropSetupGrid" cellpadding="0" cellspacing="0"></table>
</div>
