<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduling Program <%= Time.now.year %>
<% end %>

<h2 style="margin-top:0px;padding-top:0px">WISP Field Status</h2>
<div id="fieldSelectionBox">
  <table class="center" style="margin-top:10px">
  <tr>
    <td>
      <%= form_tag(url_for :controller => "wisp", :action => :field_status, :pivot_id => "", :field_id => "") do %>
        <%= select_tag "farm_id", options_from_group_for_select(@group, @farm),{ :onchange => "this.form.submit();"} %>
      <% end %>
    </td>
    <td>
      <%= form_tag(url_for :controller => "wisp", :action => :field_status, :field_id => "") do %>
        <%= select_tag "pivot_id", options_from_farm_for_select(@farm, @pivot),{ :onchange => "this.form.submit();"} %>
      <% end %>
    </td>
    <td>
      <%= form_tag(url_for :controller => "wisp", :action => :field_status) do %>
        <%= select_tag "field_id", options_from_pivot_for_select(@pivot, @field),{ :onchange => "this.form.submit();"} %>
      <% end %>
    </td>
    <td>
      <script>
      $(function() {
        <% if @cur_date %>
          $( "#date_input" ).datepicker({dateFormat: 'yy-mm-dd', defaultDate:<%= @cur_date %>});
        <% else %>
          $( "#date_input" ).datepicker({dateFormat: 'yy-mm-dd'});
        <% end %>
      });
      </script>
      &nbsp;&nbsp;
      <span id="backAWeek" class="week-button" onmouseover="hoverColor('#backAWeek',true)" onmouseout="hoverColor('#backAWeek',false)" onclick="changeDate(lastWeek);">&lt;</span>&nbsp;
      <input name="date_input" id="date_input" class='date_input' size="10" value="<%= @cur_date %>"></input>&nbsp;
      <span id="forwardAWeek" class="week-button" onmouseover="hoverColor('#forwardAWeek',true)" onmouseout="hoverColor('#forwardAWeek',false)" onclick="changeDate(nextWeek);">&gt;</span>
    </td>
  </tr></table>
</div>

<div id="fieldDataBox">
<h2 style="padding:5px">Field Data</h2>
Farm: <%= truncate(@farm.name, :length => 32) if @farm %><br/>
Pivot: <%= truncate(@pivot.name, :length => 32) if @pivot %><br/>
Field/soil: <%= truncate(@field.name, :length => 30) %><br/>
Crop: <%= truncate((@field.current_crop.name + " " + @field.current_crop.variety), :length => 32) %><br/>
<hr/>
Root zone depth: <%= @field.current_crop.max_root_zone_depth if @field && @field.current_crop %> in<br/>
Emergence Date: <%= abr(@field.current_crop.emergence_date) if @field && @field.current_crop %><br/>
AD at field capacity: <%= sprintf("%0.2f",@field.ad_max) %> in.<br/>
Initial soil moisture: <%= sprintf("%0.0f",@field_weather_data.first.pct_moisture)  if @field_weather_data && @field_weather_data.size > 0 %> %<br/>
<% target_ad_in_str = @field.target_ad_in ? sprintf('%0.2f in.',@field.target_ad_in) : '--' %>
<%= form_tag(url_for :controller => "wisp", :action => :field_status, :pivot_id => @pivot, :field_id => @field) do %>
Target&nbsp;<input name="field[target_ad_pct]" id="target_ad" size="1"/>%&nbsp;(<div style="display:inline" id='target_ad_in'><%= target_ad_in_str %></div>)&nbsp;<input type="submit" value="Update Target"/>
<% end %>
</div>

<%= render :partial => 'wisp/partials/field_daily_wx'%>

<div id="graphBox">
  <canvas id="example" width="420" height="300"></canvas>
</div>

<div id="projectedADBox">
<%= render :partial => 'wisp/partials/summary_box'%>
</div>
