<script>
  <%= grid_javascript_settings %>

  // If pivot_id is set, load the field grid for that one. If it's zero,
  // grab the id of the first pivot in the grid and use that.
  function loadFieldGrid() {
    if (!pivot_id) pivot_id = $("#pivotSetupGrid").getDataIDs()[0];
    $('#fieldDataBox').load(
      '<%= url_for(controller: "wisp", action: "field_setup_grid").html_safe %>',
      { pivot_id: pivot_id, farm_id: farm_id }
    );
    return true;
  }

  function deletePivot(id) {
    $('#pivotSetupGrid').delGridRow(id, {
      msg: 'Delete this pivot? This will\nalso delete all fields and crops\nassociated with this pivot.',
    });
  }

  function addPivotDeleteButtons() {
    const ids = $("#pivotSetupGrid").getDataIDs();
    const rows = ids.length;
    for (let i = 0; i < rows; i++) {
      const id = ids[i];
      const btn = "<div class='grid-del-btn'>" +
        `<input type='button' value='Del' title=${
          rows == 1 ?
            "'Cannot delete only pivot' disabled=true" :
            `'Delete this field' onclick='deletePivot(${id})'`
        } />` + "</div>"
      $("#pivotSetupGrid").setRowData(id, { act: btn });
    }
  }

  function addNewPivotRow() {
    const grid = $('#pivotSetupGrid');
    grid.restoreRow(pivot_id);
    const newPivot = createNewPivot();
    pivot_id = newPivot.id;
    grid.addRowData(pivot_id, newPivot); // add a new row with the new field's data
    addPivotDeleteButtons();
    grid.setSelection(pivot_id, false);
    grid.editRow(pivot_id, true, null, loadFieldGrid);
    loadFieldGrid();
  }

  function createNewPivot() {
    let pvt = {};
    $.ajax({
      type: 'POST',
      url: '<%= url_for(controller: "pivots", action: "post_data").html_safe %>',
      dataType: 'json',
      data: { farm_id: farm_id, parent_id: farm_id, oper: 'add', id: '_empty' },
      contentType: "application/x-www-form-urlencoded", // This is so Rails knows to decode it
      async: false,
      success: (json) => { pvt = json },
    });
    return pvt;
  }

  const pivotGridOpts = {
    url: '<%= url_for(controller: "pivots", farm_id: @farm_id).html_safe %>',
    editurl:'<%= grid_post_data_url("pivots", @farm_id).html_safe %>',
    datatype: 'json',
    colNames: ['Name', 'Lat.', 'Long.', 'WDNR Hicap Well No', 'Pump Capacity', 'Energy Type', 'Crop Yr', 'Notes', 'Delete', 'Farm ID', 'ID'],
    colModel: [
      { name: 'name', index: 'name', width: 83, editable: true },
      { name: 'latitude', index: 'latitude', width: 18, editable: true, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2 }, editrules: { number: true, minValue: 42.0, maxValue: 50.0 } },
      { name: 'longitude', index: 'longitude', width: 18, editable: true, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2 }, editrules: { number: true, minValue: -98.0, maxValue: -86.0 } },
      { name: 'equipment', index: 'equipment', width: 55, editable: true, align: 'right' },
      { name: 'pump_capacity', index: 'pump_capacity', width: 40, editable: true, align: 'right', editrules: { number: true, minValue: 0.0 } },
      { name: 'some_energy_rate_metric', index: 'some_energy_rate_metric', resizable: true, width: 60, editable: true, align: 'left', editrules: { required: false }, sorttype: "text", edittype: "select", formatter: 'select', editoptions: { value: "<%= energy_types_for_select %>" } },
      { name: 'cropping_year', index: 'cropping_year', width: 20, editable: false, align: 'right' },
      { name: 'notes', index: 'notes', width: 80, editable: true, align: 'right' },
      { name: 'act', index: 'act', width: 20 },
      { name: 'farm_id', index: 'farm_id', width: 10, hidden: true, editable: true }, 
      { name: 'id', index: 'id', width: 1, hidden: true },
    ],
    pager: '#pivotSetupGrid_pager',
    rowNum: 10,
    imgpath: '<%= image_folder_path("jqgrid") %>',
    sortname: '',
    viewrecords: true,
    sortorder: '',
    gridview: false,
    scrollrows: true,
    height: 175,
    autowidth: true,
    rownumbers: false,
    multiselect: false,
    subGrid: false,
    onSelectRow: (id) => {
      const grid = $('#pivotSetupGrid')
      if (id == pivot_id) {
        grid.editRow(id, true, null, loadFieldGrid);
      } else {
        grid.restoreRow(pivot_id);
        pivot_id = id;
        loadFieldGrid();
      }
    },
    loadComplete: () => {
      addPivotDeleteButtons();
      const grid = $("#pivotSetupGrid")
      pivot_id = grid.getDataIDs()[0];
      grid.setSelection(pivot_id, false);
      loadFieldGrid();
    },
    caption: "Pivots for farm '<%= @farm&.name %>'",
  }

  // handle window resizing and resize grid and chart after delay
  var resizeTimer;
  window.onresize = function() {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(() => {
      const width = $("#gridContainer").width() - 3;
      $("#pivotSetupGrid").setGridWidth(width);
      $("#fieldSetupGrid").setGridWidth(width);
      $("#cropSetupGrid").setGridWidth(width);
    }, 500);
  };

  $(() => {
    $("#pivotSetupGrid").jqGrid(pivotGridOpts);
  });
</script>

<% @title = "Pivots/Fields" %>
<h2>Manage Pivots, Fields, and Crops</h2>

<p>View and manage your WISP setup here. Click on a row in any of the tables below to select it, click again to edit it. After entering new values, press enter to save your edits. Farms may have one or more pivots, pivots may have one or more fields, and each field may have one crop.</p>

<div class="field">
  <%= form_tag(url_for(controller: "wisp", action: "pivot_crop"), method: "GET") do %>
    <input type="hidden" name="pivot_id" value=""></input>
    <input type="hidden" name="field_id" value=""></input>
    <label for="farm_id">Farm</label><br>
    <%= select_tag "farm_id", options_from_group_for_select(@group, @farm), { onchange: "this.form.submit();" } %>
  <% end %>
</div>

<div class="overflow">
  <div id="gridContainer" class="content-box grid-container">
    <div class="flex-down gap-10">
      <div id="pivotDataBox" class="flex-down gap-10">
        <table id="pivotSetupGrid" cellpadding="0" cellspacing="0"></table>
        <div id="pivotSetupGrid_pager"></div>
        <div class="btn-group">
          <button type="button" class="btn btn-light" onclick="addNewPivotRow();">Add New Pivot</button>
        </div>
      </div>
      <div id="fieldDataBox">
        <div style="height: 196px"> Loading fields... </div>
      </div>
      <div id="cropDataBox">
        <div style="height: 70px"> Loading crops... </div>
      </div>
    </div>
  </div>
</div>
