<% @title = "Edit Daily Data" %>
<h2>Field Group Shared Data Entry</h2>

<% if @weather_stations.empty? %>
  <p>You must create at least one field group to use this page.</p>
  <%= link_to "Create a field group", { controller: :weather_stations, action: :new }, class: "btn btn-primary" %>
<% else %>
  <p>Click any row to edit values, press 'Enter' to save your edits. Potential evapotranspiration and rainfall for individual fields are automatically sourced from AgWeather and should only be entered here if you have an on-site or preferred weather station for these values. Entering data below will <b>overwrite any corresponding values</b> already entered for individual fields in this group! If you have changed data in an individual field <b>after</b> entering it here, you must change and re-enter the value here to overwrite individual field values with this shared data.</p>
  <div class="field">
    <%= form_tag(url_for controller: :wisp, action: :weather) do %>
      <label>Select a field group</label>
      <%= select_tag(
        :weather_station_id,
        options_from_collection_for_select(@weather_stations, :id, :name, @weather_station[:id].to_i),
        { onchange: "this.form.submit();" }
      ) %>
    <% end %>
  </div>
  <div>
    <% if @weather_station.fields.empty? %>
      <p>This field group has no fields added to it. You must add at least one field to use this data entry page for this field group.</p>
    <% else %>
      <%= render partial: 'wisp/weather_station_data_grid' %>
    <% end %>
    <div class="btn-group" style="margin-top: 10px;">
      <%= link_to "Edit this field group", edit_weather_station_path(@weather_station), class: "btn btn-light" %>
      <%= link_to "Back to Field Groups", { controller: :weather_stations }, class: "btn btn-light" %>
    </div>
  </div>
<% end %>
