<%= form_for(@irrigation_event) do |f| %>
  <% if @irrigation_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@irrigation_event.errors.count, "error") %> prohibited this irrigation_event from being saved:</h2>

      <ul>
      <% @irrigation_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pivot_id %><br />
    <%= f.text_field :pivot_id %>
  </div>
  <div class="field">
    <%= f.label :inches_applied %><br />
    <%= f.text_field :inches_applied %>
  </div>
  <div class="field">
    <%= f.label :run_time %><br />
    <%= f.text_field :run_time %>
  </div>
  <div class="field">
    <%= f.label :total_volume %><br />
    <%= f.text_field :total_volume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
