<p id="notice"><%= notice %></p>

<p>
  <b>Pivot:</b>
  <%= @irrigation_event.pivot_id %>
</p>

<p>
  <b>Inches applied:</b>
  <%= @irrigation_event.inches_applied %>
</p>

<p>
  <b>Run time:</b>
  <%= @irrigation_event.run_time %>
</p>

<p>
  <b>Total volume:</b>
  <%= @irrigation_event.total_volume %>
</p>


<%= link_to 'Edit', edit_irrigation_event_path(@irrigation_event) %> |
<%= link_to 'Back', irrigation_events_path %>
