<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'wisp/sidebar' %>
<% end %>

<table>
  <tr>
    <th>Group</th>
    <th>Name</th>
    <th>Et method</th>
    <th>Notes</th>
    <th>Pivots</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @farms.each do |farm| %>
  <tr>
    <td><%= farm.group_id %></td>
    <td><%= farm.name %></td>
    <td><%= farm.et_method_id %></td>
    <td><%= farm.notes %></td>
    <td><%= link_to 'See Pivots for This Farm', :controller => 'pivots', :farm_id => farm[:id]%></td>
    <td><%= link_to 'Show', farm %></td>
    <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
    <td><%= button_to 'Destroy', farm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Farm', new_farm_path %>
