<% @title = "Users" %>
<h2>Users</h2>

<p>Click any user's email to see more information about the user.</p>

<p>
  <div class="overflow">
    <%= will_paginate @users, class: "apple_pagination" %>
    <table class="fancy-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Created</th>
          <th>Confirmed?</th>
          <th>Last Signed In</th>
          <th>Farms</th>
          <th>Pivots</th>
          <th>Fields</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% if user.id == @user.id %><tr style="font-weight: bold"><% else %><tr><% end %>
            <td><%= user.id %></td>
            <td><%= link_to user.email, user_path(user.id) %></td>
            <td><%= user.created_at.to_date %></td>
            <td><%= user.confirmed? %></td>
            <td>
              <% if user.last_sign_in_at %>
                <%= user.last_sign_in_at.to_date %> (<%= (Date.today - user.last_sign_in_at.to_date).to_i %> days ago)
              <% end %>
            </td>
            <td><%= user.farms.size %></td>
            <td><%= user.pivots.size %></td>
            <td><%= user.fields.size %></td>
            <td>
              <% if user.id != @user.id %>
                <%= button_to 'Destroy', user_path(user), data: {confirm: 'Are you sure?'}, method: :delete %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, class: "apple_pagination" %>
</p>
<p><%= link_to 'Export Email CSV', users_path(format: :csv), class: "btn btn-primary" %></p>
