<% @title = "Users" %>
<h2>Users</h2>

<div class="flex-down gap-10">
  <div class="table-container">
    <%= will_paginate @users, class: "apple_pagination" %>
    <table class="fancy-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Created</th>
          <th>Confirmed?</th>
          <th>Last Signed In</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% if user.id == @user.id %><tr style="font-weight: bold"><% else %><tr><% end %>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.to_date %></td>
            <td><%= user.confirmed? %></td>
            <td>
              <% if user.last_sign_in_at %>
                <%= user.last_sign_in_at.to_date %> (<%= (Date.today - user.last_sign_in_at.to_date).to_i %> days ago)
              <% end %>
            </td>
            <td>
              <% if user.id != @user.id %>
                <%= button_to 'Destroy', user_path(user), data: {confirm: 'Are you sure?'}, method: :delete %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, class: "apple_pagination" %>
  </div>
  <div>
    <%= link_to 'Export Email CSV', users_path(format: :csv), class: "btn btn-primary" %>
  </div>
</div>

