<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'wisp/sidebar' %>
<% end %>

<table>
<tr>
  <td valign="top">
    <h3>Farm: <%= @farm.name %></h3>
    <h3>Pivot: <%= @pivot.name %></h3>
    <p><%= @fields.size %> fields found </p>
    <% form_tag :action => :index, :method => 'get' do %>
      <%= select_tag "field_id", options_from_collection_for_select(@fields, "id", "name") %>
      <%= submit_tag "Change fields" %>
    <% end %>
  </td>
  <td valign="top">
    <h3>Field: <%= @field.name %></h3>

    <%= render 'form' %>
  </td>
</tr></table>
<%= link_to 'New Field', new_field_path %>
