<script type="text/javascript">
  var new_login = <%= @new_login ? "true" : "false"%>;
  window.onload = function(){
    // This serves as a proxy for "Are we on a page requiring login?"
    if (document.getElementById('logout')) {
      if (new_login) {
        // Expand the "New User Account Created" head to draw attention to it
        $('#new_login').animate({fontSize:'200%'},600);
        // Likewise the "Logout" button, so they see the name
        $('#logout').animate({fontSize:'150%'},600);
        // Shrink the "Logout" button back to normal, and shrink the CNA head
        $('#logout').animate({fontSize:'100%'},800,
          function() {
              $('#new_login').animate({fontSize:'90%'},100);
          }
        );
      }
    }
  };
</script>
<h2>WISP: Wisconsin Irrigation Scheduling Program 2012 Version 2.0.0</h2>
<br/>
<br/>
  <ul>
    <li><%= link_to "WISP Home", root_path %></li>
  </ul>
  <ul>
    <li><%= link_to "Farm Status", :controller => 'wisp', :action => :farm_status %></li>
    <li><%= link_to "Pivots, Fields, and Crops", :controller => 'wisp', :action => :pivot_crop %></li>
    <li><%= link_to "Field Status", :controller => 'wisp', :action => :field_status %></li>
    <li><%= link_to "Field Groups", :controller => 'weather_stations', :group_id => @group %></li>
    <li><%= link_to "Multi-Edit Daily Data", :controller => 'wisp', :action => :weather %></li>
    <li><%= link_to "User's Guide", guide_welcome_index_path %>
    <li><%= link_to "Latest Info (updated 13 Dec 2014)", {:controller => 'wisp', :action => :project_status}, {style: "color:yellow"} %></li>
    <!--
    <li><%= link_to "Report Setup", :controller => 'wisp', :action => :report_setup %></li>
    -->
    <% if current_user && current_user.admin? %>
      <li><%= link_to "Admin Users", users_path %></li>
    <% end %>
  </ul>
<% (0..4).each do %>
<br/>
<% end %>
<% if user_signed_in? %>
  Signed in as <%= current_user.email %>.
  <br/>
  <br/>
  <%=  button_to "Manage Account", edit_user_registration_path, method: :get %>
  <br/>
  <br/>
  <div style="float: left; width: auto; margin-top: 0.3em">Not you?</div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>

<% if flash[:notice] %>
  <br/>
  <%= flash[:notice] %>
<% end %>
<% if flash[:error] %>
  <br/>
  <%= flash[:error] %>
<% end %>
<div id='save-data-notice'>
  <p><center>REMINDER</center></p>
  <p>
    WISP user input data will be purged on Feb. 15<sup>th</sup> each year. To save current year data use the <u>Create Report in CSV Form</u> on the Field Status page prior to 2/15!
  </p>
</div>
