<% @title="Grid-Interpolated Daily Temperatures"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
  <%= stylesheet_link_tag "calendar_date_select/calendar_date_select" -%>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "calendar_date_select/calendar_date_select"%>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<!-- Content for remainder of stuff -->
<h2><%= @title %></h2>
<form name="dailyGridTemps" ACTION=http://www.soils.wisc.edu/asigServlets/DailyTempReport method="GET"> 
<B>1)</B> First, please select the location for the temperature and ET data you wish to download: 
<P>
<table>
<tr>
    <td><%= image_tag "WIMNlatlon.jpg", {:width => "433", :height => "350", :alt => "Map of area between latitude 42 and 50 degrees north, longitude 86 to 98 degrees west."} %></td>

<td>(north) Latitude <select Name="Latitude">
  <%= coord_select_options %>
</select>

(west) Longitude <select Name="Longitude">
  <%= coord_select_options 98.0, 86.0, -0.4 %>
</select>
</td>
</tr>
</table>

<P><HR>
<P> <B>2)</B> Choose the report formatting desired: 
<P> 
  <input TYPE="checkbox" NAME="show_first_line" VALUE="no" CHECKED>
  &nbsp Display data field abbreviations as first line of data (column headings) 
  <br>
  <input TYPE="checkbox" NAME="year_doy" VALUE="yes">
  &nbsp Display date as year and day-of-year (default is year-month-day)
  <br>
  <input TYPE="checkbox" NAME="centigrade" VALUE="no">
  &nbsp Display temperatures in Celsius (default is Farenheit)

<P><HR>
<P> <B>3)</B> Next, choose the date range desired: 
<h3>Start date:</h3>
<%= date_selectors(:day => 1) %>

<h3>End date:</h3>
<%= date_selectors(:names => %w(endyear endmonth endday)) %>
<P><HR>
<P> <B>4)</B> Finally, click the "Submit" button to obtain your results. The report contains the date, maximum temperature, minimum temperature, average temperature and reference ET in that order for the location you chose.
<P>When the data appear in your browser window, you can copy and paste them into
a file, or use the "Save As.." function of your browser to save them. Press
the "Clear All Inputs" button to un-check all the data-selection boxes.
 
<P><input type="submit" value="Submit">&nbsp <input type="reset" value="Clear All Inputs">

</Form>

<P>

