<h2>WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %></h2>
<br/>
<br/>
  <ul>
    <li><%= link_to "Back to WISP Home", :controller => 'wisp', :action => :index %></li>
    <li><%= link_to "Farm Status", :controller => 'wisp', :action => :farm_status %></li>
    <li><%= link_to "Field Status", :controller => 'wisp', :action => :field_status %></li>
    <li><%= link_to "Pivots, Fields, and Crops", :controller => 'wisp', :action => :pivot_crop %></li>
    <li><%= link_to "Weather Data", :controller => 'wisp', :action => :weather %></li>
    <li><%= link_to "Report Setup", :controller => 'wisp', :action => :report_setup %></li> 
  </ul>
<% (0..15).each do %>
<br/>
<% end %>
  
  <% if signed_in? %>
    <%= button_to "Logout " + current_user.email, :controller => 'sessions', :action => :destroy, :redirect => :wisp %>
  <% end %>
