<script type="text/javascript">
  var new_login = <%= @new_login ? "true" : "false"%>;
  window.onload = function(){
    if (document.getElementById('logout')) {
      if (new_login) {
        $('#logout').animate({fontSize:'1.5em'},800);
        $('#logout').animate({fontSize:'1em'},1400,
          function() {
            $('#new_login').animate({fontSize:'10em'},600);
            $('#new_login').animate({fontSize:'0.001em'},1400,
              function() {
                $('#new_login').hide();
              }
            )
          }
        );
      }
    }
  };
</script>
<h2>WISP: Wisconsin Irrigation Scheduling Program <%= Time.now.year %> Version 1.0.0</h2>
<br/>
<br/>
  <ul>
    <li><%= link_to "WISP Home", :controller => 'wisp', :action => :home %></li>
  </ul>
  <ul>
    <li><%= link_to "Farm Status", :controller => 'wisp', :action => :farm_status %></li>
    <li><%= link_to "Pivots, Fields, and Crops", :controller => 'wisp', :action => :pivot_crop %></li>
    <li><%= link_to "Field Status", :controller => 'wisp', :action => :field_status %></li>
    <li><%= link_to "Weather Stations", :controller => 'weather_stations', :group_id => @group %></li>
    <li><%= link_to "Multi-Edit Daily Data", :controller => 'wisp', :action => :weather %></li>
    <li><%= link_to "User's Guide", 'userguide' %></li>
    <li><%= link_to "Latest info (updated 8/3/2012)", :controller => 'wisp', :action => :project_status %></li>
    <!-- 
    <li><%= link_to "Report Setup", :controller => 'wisp', :action => :report_setup %></li>
    -->
  </ul>
<% (0..4).each do %>
<br/>
<% end %>
  
  <% if AuthenticationHelper::USING_OPENID && signed_in? %>
    <% if @new_login %>
      <h3 id="new_login">Creating new user account</h3>
    <% end %>
    <%= button_to "Logout " + current_user.email, {:controller => 'sessions', :action => :destroy}, {:id => 'logout'} %>
    <% if current_user.identifier_url == @rick_identifier_url %>
      <form action="/sessions/su">
        <input name="su_to"/>
      </form>
    <% end %>
  <% end %>

<% if flash[:notice] %>
  <br/>
  <%= flash[:notice] %>
<% end %>
<% if flash[:error] %>
  <br/>
  <%= flash[:error] %>
<% end %>