<h2>WISP: Wisconsin Irrigation Scheduling Program <%= Time.now.year %></h2>
<br/>
<br/>
  <ul>
    <li><%= link_to "WISP Home", :controller => 'wisp', :action => :index %></li>
  </ul>
  <ul>
    <!-- Only display the selectors if they're signed in -->
    <% if @group %>
      <li>
        <% if @farm %>
          <%= select_tag "farm", options_from_collection_for_select(Farm.my_farms(@group[:id]),"id","name",@farm[:id])%>
        <% else %>
          <%= select_tag "farm", options_from_collection_for_select(Farm.my_farms(@group[:id]),"id","name")%>
        <% end %>
          <script type="text/javascript">
            $(document).ready(function(){
              $("#farm").change(function() {
                var farm_id = $('#farm option:selected').val();
                if (farm_id != 0) {
                  // do an Ajax call to set the farm. Throw away the (nonexistent) output.
                  $('#content').load(window.location.href,{farm_id:farm_id,ajax:true});
                  // refresh the current page
                  // window.location.href = window.location.href + "?preserve_farm=true"
                }
              });
              $("#date_input").change(function(){
                var cur_date = $('#date_input').val();
                url = '<%= url_for :action => :field_status %>' + '?cur_date=' + cur_date;
                // would be nice to do something nice and Ajax-y but I'm tired of fighthing with it.
                // use replace insted of href so the "back" history doesn't accumulate.
                window.location.replace(url);
              });
            });
          </script>
      </li>
    <% end %>
    <li><%= link_to "Farm Status", :controller => 'wisp', :action => :farm_status %></li>
    <li><%= link_to "Field Status", :controller => 'wisp', :action => :field_status %></li>
    <li><%= link_to "Pivots, Fields, and Crops", :controller => 'wisp', :action => :pivot_crop %></li>
    <li><%= link_to "Multi-Edit Daily Data", :controller => 'wisp', :action => :weather %></li>
    <li><%= link_to "Report Setup", :controller => 'wisp', :action => :report_setup %></li>
    <li>Change date (e.g. 2011-06-01)</li>
    <li><input name="date_input" id="date_input" class='date_input' size="20"></input></li>
  </ul>
<% (0..15).each do %>
<br/>
<% end %>
  
  <% if AuthenticationHelper::USING_OPENID && signed_in? %>
    <%= button_to "Logout " + current_user.email, :controller => 'sessions', :action => :destroy, :redirect => :wisp %>
  <% end %>
