<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
  <style type="text/css">
  	h2 {text-align:center;}
  	#farmDataBox
  	{
  		position:absolute;
  		left:275px;
  		top:150px;
  		width:920px;
  		padding:2px;
  		border:1px solid gray;
  		margin:0px;
  	}
		
  	#farmProblemsBox
  	{
  		position:absolute;
  		left:275px;
  		top:400px;
  		width:920px;
  		padding:2px;
  		border:1px solid gray;
  		margin:0px;
  	}
  </style>
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<h2>Wisp Farm Data and Field Problem Summary</h2>

<div id="farmDataBox">
	<h2>Farm Data</h2>
	<%= submit_tag "Add Farm", :type => 'button', :onclick => 'alert("Add farm button")' %>
	<%= submit_tag "Delete Farm", :type => 'button', :onclick => 'alert("Delete farm button")' %>
	<br />
  <br />
	<b>Edit Farm Name:</b> <input id="name" name="name" type="text" />
	<br />
  <br />
	<b>ET Adjustment Method</b><br />
  <input type="radio" id="pct_cover" name="user[receive_newsletter]" value="pct_cover" /> Crop % Cover<br />
  <input type="radio" id="lai" name="user[receive_newsletter]" value="lai" checked="checked" /> LAI
	<br />
  <br />
	<b>Notes:</b> <input id="name" name="name" type="text" />

</div>

<div id="farmProblemsBox">
  <table width="100%" border="1" cellpadding="1" cellspacing="1" summary="Action Items for farm XXX">
    <tr>
    		<th>Field name</th><th>Explanation</th>
    </tr>
    <tr>
    		<td>Field name (and link to field status)</td><td>Explanation of problem</td>
    </tr>
  </table>
</div>
