<script type="text/javascript">
  var lastsel,curID;
  function set_current_field(field_id) {
    $.ajax(
    { 
        type: "GET",
        <% args = merge_usuals(:controller => 'wisp', :action => :set_field)
           args.delete(:field_id)
        %>
        url: '<%= url_for args %>' + '&field_id='+field_id, 
        dataType: "json",
        async: false,
        success: function()
        {
          
        },
        error: function(xhr, textStatus, errorThrown)
        {
          alert('got an ajax error back, here is xhr');
          alert(xhr);
          alert(textStatus + ' ' + errorThrown);
        } /* error: */
    });/* $.ajax */
  }
  function createNewField() {
    var fld={};
    $.ajax(
      {
        type: "POST",
        url: '<%= grid_post_data_url "fields", @pivot%>' + '&oper=add&id=_empty', 
        dataType: "json",
        async: false,
        success: function(json) {
          fld = json;
        }
      }
    );
    return fld;
  }
  function set_soil_characteristics(event) {
    var soils = <%= soil_characteristics %>;
    soil_id = this.value;
    fc = soils[soil_id]['field_capacity_pct'];
    pwp = soils[soil_id]['perm_wilting_pt_pct'];
    $("#"+curID+"_field_capacity_pct").val(fc);
    $("#"+curID+"_perm_wilting_pt_pct").val(pwp);
  }

  
  function addNewRow() {
    var grid = $('#field_setup');
    newField = createNewField();
    curID = newField['id'];
    grid.addRowData(curID, newField); // add a new row with the new field's data
    addFieldDeleteButton(curID);
    grid.editRow(curID,true); // put new row into inline-edit mode
  }
  
  // Tag on percent sign for display
  function pctFormat(cellvalue,options,rowObject) {
    if (cellvalue === undefined) {
      return("");
    } else {
      return(pctUnformat(cellvalue)+'%');
    }   
  }
  
  // Remove percent sign from displayed value
  function pctUnformat(cellvalue,options,cell) {
    if (cellvalue === undefined) {
      return("");
    } else {
      return cellvalue.replace("%","");
    }
  }
  
  function addFieldDeleteButton(cl) {
    be = "<input style='height:22px;width:35px;' type='button' value='Del' onclick=jQuery('#field_setup').delGridRow("+cl+");$('#field_setup').trigger('reloadGrid'); ></ids>"; 
    jQuery("#field_setup").setRowData(cl,{act:be}) 
  }
  
  jQuery(document).ready(function(){
    <%= grid_javascript_settings %>
    $('#cropDataGrid').load('<%= url_for merge_usuals(:controller => 'wisp', :action => :crop_setup_grid) %>',{field_id:<%=@field_id%>});
    
  var mygrid = jQuery("#field_setup").jqGrid({
      url:'<%= grid_data_url "fields", @pivot %>',
      editurl:'<%= grid_post_data_url "fields", @pivot %>',
      datatype: "json",
      colNames:['Name','Area','Soil Type','Field Capacity','Perm. Wilt Pt','Target AD','ET Stn','Rain Stn','Soil Moist. Stn','Notes','Delete',' ',' '],
      colModel:[{name:'name', index:'name',width:83,editable:true},
                     {name:'area', index:'area',width:20,editable:true, align:'right'},
                     {
                       
                         name:'soil_type_id',index:'soil_type_id', width:40,resizable:true,   
                         align:"left",sorttype:"text",editable:true,edittype:"select",
                         formatter:'select',
                         editoptions:   // working example for ET methods is '1:Percent Cover;2:Leaf Area Index'
                           { value:"<%= soil_types_for_select %>",dataEvents: [
                                                 {  type: 'change',
                                                    fn: set_soil_characteristics
                                                 }
                                              ]},editrules:{required:true}

                       // name:'soil_type', index:'soil_type',width:47,editable:true, align:'right'
                     },
                     {name:'field_capacity_pct', index:'field_capacity_pct',width:35,editable:true, align:'right',formatter:pctFormat,unformat:pctUnformat},
                     {name:'perm_wilting_pt_pct', index:'perm_wilting_pt_pct',width:35,editable:true, align:'right',formatter:pctFormat,unformat:pctUnformat},
                     {name:'target_ad_pct',index:'target_ad_pct',width:25,editable:true, align:'right',formatter:pctFormat,unformat:pctUnformat},
                     // These three are hidden until we get these features running
                     {name:'ref_et_station_id', index:'ref_et_station_id',width:25,editable:true, align:'right',hidden:true},
                     {name:'rain_station_id', index:'rain_station_id',width:30,editable:true, align:'right',hidden:true},
                     {name:'soil_moisture_station_id', index:'soil_moisture_station_id',width:50,editable:true, align:'right',hidden:true},
                     
                     {name:'notes', index:'notes',width:87,editable:true, align:'right'},
                     {name:'act', index:'act', width:20},
                     {name:'id', index:'id',width:6,hidden:true,key:true},
                     {name:'pivot_id',index:'pivot_id',width:1,hidden:true,editable:true}
                     ],
      pager: '#field_setup_pager',
      rowNum:180,
      rowList:[180],
      imgpath: '<%= image_folder_path("jqgrid") %>',
      sortname: '',
      viewrecords: true,
      height: 160,
      width: 918,
      sortorder: '',
      gridview: false,
      scrollrows: true,
      autowidth: false,
      rownumbers: false,
      multiselect: false,
        
      onSelectRow: function(id){ 
        if(id && id!==lastsel){ 
          jQuery('#field_setup').restoreRow(lastsel);
          curID = id;
          jQuery('#field_setup').editRow(id,true); 
          lastsel=id;
          field_id=id;
          set_current_field(id);
          $('#cropDataGrid').load('<%= url_for :controller => 'wisp', :action => :crop_setup_grid %>',
            {field_id:id,pivot_id:pivot_id,user_id:user_id, farm_id:farm_id,pivot_id:pivot_id});
        } else {
          alert('cannot edit; id is '+id+' and lastsel is '+lastsel);
        }
      },             
      
      loadComplete: function(){ 
          var ids = jQuery("#field_setup").getDataIDs(); 
          for(var i=0;i<ids.length;i++){ 
              var cl = ids[i];
              addFieldDeleteButton(cl); 
          } 
      },
      
      
      subGrid:false,
      
      caption: "Fields <%= @pivot ? "for #{@pivot.name}" : '(select pivot above)' %>"
    })
    .navGrid('#field_setup_pager',
      {edit:false,add:false,del:true,search:false,refresh:true},
      {afterSubmit:function(r,data){return true;(r,data,'edit');}},
      {afterSubmit:function(r,data){return true;(r,data,'add');}},
      {afterSubmit:function(r,data){return true;(r,data,'delete');}}
    )
    mygrid.filterToolbar();mygrid[0].toggleToolbar()
  });
</script>

<table id="field_setup" class="scroll" cellpadding="0" cellspacing="0"></table>
<!-- <div id="field_setup_pager" class="scroll" style="text-align:center;"></div> -->
<button type="button" onclick="addNewRow();">Add New Field</button>
<!-- $("#grid").addRowData(rowid,data, position, srcrowid); -->
