<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduling Program <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
  <%= jqgrid_stylesheets.html_safe -%>
  <style type="text/css">
	h2 {text-align:center;}
	#fieldSelectionBox
	{
	  text-align: center;
	}

	#fieldDataBox
	{
		position:absolute;
		left:275px;
		top:153px;
		width:200px;
		height:223px;
		padding:2px;
		border:1px solid gray;
		margin:0px;
	}

	#tableDataBox
	{
		position:absolute;
		left:500px;
		top:150px;
		width:690px;
		padding:2px;
		margin:0px;
	}

	#tableDataBox table tr td.editable
	{
		background:white
	}

	#graphBox
	{
		position:absolute;
		left:275px;
		top:400px;
		width:575px;
		padding:2px;
		border:1px solid gray;
		margin:0px;
	}
	
	#projectedADBox
	{
		position:absolute;
		left:875px;
		top:400px;
		width:300px;
		height:300px;
		padding:2px;
		border:1px solid gray;
		margin:0px;
	}
	
	#imageADBox
	{
		position:absolute;
		left:875px;
		top:375px;
		width:300px;
	}
	
	</style>
   </style>
<% end %>
<%= content_for :scripts do %>
  <%= jqgrid_javascripts.html_safe %>
  <%= javascript_include_tag 'bluff/js-class.js'  %>
  <%= javascript_include_tag 'bluff/excanvas.js'  %>
  <%= javascript_include_tag 'bluff/bluff-min.js' %>
  <script type="text/javascript">
    function plotGraph() {
      var g = new Bluff.Line('example', '575x275');
      var ad_data;
      var projected_ad_data = [];
      var target_ad_data = [];
      g.title = 'Allowable Depletion (inches)';
      g.tooltips = true;
      g.set_theme({
          colors: ['#202020', 'white', '#a21764', '#8ab438',
                   '#999999', '#3a5b87', 'black'],
          marker_color: '#aea9a9',
          font_color: 'black',
          background_colors: ['#d0e0f8', '#f0f0ff']
        });
        $.ajax(
        { 
            type: "GET",
            url: '<%= url_for :action => :projection_data, :cur_date => @cur_date %>', 
            dataType: "json",
            async: false,
            success: function(json)
            {
              ad_data = json['ad_data'];
              prj_data = json['projected_ad_data'];
              targ_data = json['target_ad_data'];
              for (var ii=0,len=ad_data.length; ii<len; ii++) {
                projected_ad_data.push(ad_data[ii]);
              }
              for (ii=0,len=prj_data.length; ii<len; ii++) {
                projected_ad_data.push(prj_data[ii]);
              }
              if (targ_data != null) {
                for (ii=0,len=targ_data.length; ii<len; ii++) {
                  target_ad_data.push(targ_data[ii]);
                }
              }
            }, /* success: */
            error: function(xhr, textStatus, errorThrown)
            { 
                alert(textStatus + ' ' + errorThrown);
                ad_data = [];
                projected_ad_data = [];
            } /* error: */
        });/* $.ajax */
      g.data("Projected AD", projected_ad_data,'#26c202');
      g.data("Allowable Depletion", ad_data,'blue');
      if (targ_data != null) {
        g.data("Target AD",target_ad_data,'gray');
      }
      g.hide_legend = false
      g.labels = {<%= @date_str %>};
      g.draw();
    }
    jQuery(document).ready(function(){
      plotGraph();
      $("#date_input").change(function(){
        var cur_date = $('#date_input').val();
        url = '<%= url_for :action => :field_status %>' + '?cur_date=' + cur_date;
        // would be nice to do something nice and Ajax-y but I'm tired of fighthing with it.
        // use replace insted of href so the "back" history doesn't accumulate.
        window.location.replace(url);
      });
      
    });
    
  </script>
  
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<h2>WISP Field Status</h2>
<div id="fieldSelectionBox">
<%= form_tag(url_for :controller => "wisp", :action => :field_status) do %>
  <%= select_tag "field_id", options_from_pivot_for_select(@pivot, @field),{ :onchange => "this.form.submit();"} %> 
<% end %>
</div>

<div id="fieldDataBox">
<h2 style="padding:5px">Field Data</h2>
Farm name:<%= @farm.name if @farm %><br/>
Pivot name: <%= @pivot.name if @pivot %><br/>
Field name/soil: <%= @field.name %><br/>
Crop: <%= (@field.current_crop.name + " " + @field.current_crop.variety) %><br/>
Root zone depth: <%= @field.current_crop.max_root_zone_depth if @field && @field.current_crop %> in<br/>
Emergence Date: <%= abr(@field.current_crop.emergence_date) if @field && @field.current_crop %><br/>
Initial soil moisture: <%= sprintf("%0.0f",@field_weather_data.first.pct_moisture)  if @field_weather_data && @field_weather_data.size > 0 %> %<br/>
<% if @field.target_ad_pct %>
  Target AD: <%= sprintf("%0.0f",@field.target_ad_pct) %>% of max allowable
<% end %>
</div>

<%= render :partial => 'wisp/partials/field_daily_wx'%>

<div id="graphBox">
  <canvas id="example" width="400" height="300"></canvas>
  Change graph date (e.g. 2011-06-01): <input name="date_input" id="date_input" class='date_input' size="20" value="<%= @cur_date %>"></input>
</div>

<div id="projectedADBox">
<%= render :partial => 'wisp/partials/summary_box'%>
</div>
