<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduling Program <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
  <%= jqgrid_stylesheets.html_safe -%>
  <style type="text/css">
	h2 {text-align:center;}
	#fieldSelectionBox
	{
		position:absolute;
		left:275px;
		top:90px;
		width:200px;
		padding:2px;
		margin:0px;
	}

	#fieldDataBox
	{
		position:absolute;
		left:275px;
		top:170px;
		width:200px;
		height:200px;
		padding:2px;
		border:1px solid gray;
		margin:0px;
	}

	#tableDataBox
	{
		position:absolute;
		left:500px;
		top:150px;
		width:510px;
		padding:2px;
		margin:0px;
	}

	#tableDataBox table tr td.editable
	{
		background:white
	}

	#summaryDataBox
	{
		position:absolute;
		left:1025px;
		top:170px;
		width:170px;
		height:200px;
		padding:2px;
		border:1px solid gray;
		margin:0px;
	}

	#graphBox
	{
		position:absolute;
		left:275px;
		top:400px;
		width:575px;
		padding:2px;
		border:1px solid gray;
		margin:0px;
	}
	
	#projectedADBox
	{
		position:absolute;
		left:875px;
		top:400px;
		width:300px;
		height:300px;
		padding:2px;
		border:1px solid gray;
		margin:0px;
	}
	
	#imageADBox
	{
		position:absolute;
		left:875px;
		top:375px;
		width:300px;
	}
	
	</style>
   </style>
<% end %>
<%= content_for :scripts do %>
  <%= jqgrid_javascripts.html_safe %>
  <%= javascript_include_tag 'bluff/js-class.js'  %>
  <%= javascript_include_tag 'bluff/excanvas.js'  %>
  <%= javascript_include_tag 'bluff/bluff-min.js' %>
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<h2>WISP Field Status</h2>
<div id="fieldSelectionBox">
Choose a different field
<%= form_tag "/wisp/field_status" do %>
  <%= select_tag "field_id", options_from_collection_for_select(@pivot.fields,"id","name") %> 
  <%= submit_tag "Go" %>
<% end %>
</div>

<div id="fieldDataBox">
<h2>Field Data</h2>
Farm name:<%= @farm.name if @farm %><br/>
Pivot name: <%= @pivot.name if @pivot %><br/>
Field name/soil: <%= @field.name %><br/>
Crop: <%= (@field.current_crop.name + " " + @field.current_crop.variety) %><br/>
Root zone depth: <%= @field.current_crop.max_root_zone_depth if @field && @field.current_crop %><br/>
Emergence Date: <%= abr(@field.current_crop.emergence_date) if @field && @field.current_crop %><br/>
Initial soil moisture: <%= @field_weather_data.first.pct_moisture  if @field_weather_data && @field_weather_data.size > 0 %>
</div>

<%= render :partial => 'wisp/partials/field_daily_wx'%>

<div id="summaryDataBox">
<h2>Summary Data</h2>
Rainfall (in):<br/>
Irrigation (in):<br/>
Irrig. (gal x 1K):<br/>
ET (in):<br/>
Drainage (in):<br/>
Power (kWH): <br/>
Run time (hours): <br/>
Cost ($): <br/>
</div>

<div id="graphBox">
  <canvas id="example" width="400" height="300"></canvas>

    <script type="text/javascript">
      var g = new Bluff.Line('example', '575x300');
      g.title = 'Allowable Depletion';
      g.tooltips = true;
      g.set_theme({
          colors: ['#202020', 'white', '#a21764', '#8ab438',
                   '#999999', '#3a5b87', 'black'],
          marker_color: '#aea9a9',
          font_color: 'black',
          background_colors: ['#d0e0f8', '#f0f0ff']
        });

      g.data("Allowable Depletion", <%= @ad_data.to_s.gsub('nil','null') %>,'blue');
      <% @ad_data += @projected_ad_data %>
      g.data("Projected AD", <%= @ad_data.to_s.gsub('nil','null') %>,'yellow');
      g.hide_legend = true
      g.labels = {<%= @date_str %>};

      g.draw();
    </script>
</div>

<div id="projectedADBox">
	<%= image_tag "pivot.manip.small.jpg", :width => 300  %>
<h2>Projected Allowable Depletion</h2>
<p>In inches, based on the mean adjusted ET of the last four rainless days.</p>
<b><%= @dates[-2].strftime('%b %d')%>: <%= sprintf("%0.2f",@projected_ad_data[-2]) %></b> <br/>
<b><%= @dates[-1].strftime('%b %d')%>: <%= sprintf("%0.2f",@projected_ad_data[-1]) %></b> <br/>
</div>
