<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
  <%= jqgrid_stylesheets.html_safe -%>
  <style type="text/css">
  	h2.pagehead {text-align:center;}
  	#pivotDataBox
  	{
  		position:absolute;
  		left:275px;
  		top:130px;
  		width:920px;
  		padding:2px;
  		border:1px solid gray;
  		margin:0px;
  	}
  	.field {
  	  display:inline;
  	}
		
  	#fieldDataBox
  	{
  		position:absolute;
  		left:275px;
  		top:325px;
  		width:920px;
  		padding:2px;
  		border:1px solid gray;
  		margin:0px;
  	}
  	#cropsDataBox
  	{
  		position:absolute;
  		left:275px;
  		top:500px;
  		width:920px;
  		padding:2px;
  		border:1px solid gray;
  		margin:0px;
  	}
		
   </style>
<% end %>
<%= content_for :scripts do %>
  <%= jqgrid_javascripts.html_safe %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      alert("Called!");
      $('#cropDataGrid').load('/wisp/crop_setup_grid');
    });
  </script>
<% end %>


<% content_for :welcome do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<h2 class="pagehead">WISP Pivot, Field and Crops Data</h2>

<div id="pivotDataBox">
	<h2>Pivot Data</h2>
	
	<%= form_for @pivot do |f| %>
	<table>
	  <tr>
	    <td>  <div class="field">
          <%= f.label :name %>
          </td><td>
          <%= f.text_field :name %>
        </div>
      </td>
      <td>  <div class="field">
          <%= f.label :latitude %>
        </td><td>
          <%= f.text_field :latitude %>
        </div>
      </td>
      <td>  <div class="field">
          <%= f.label :longitude %>
        </td><td>
          <%= f.text_field :longitude %>
        </div>
      </td>
    </tr>
    <tr>
      <td>  <div class="field">
          <%= f.label :equipment %>
        </td><td>
          <%= f.text_field :equipment %>
        </div>
      </td>

      <td>  <div class="field">
          <%= f.label :pump_capacity %>
        </td><td>
          <%= f.text_field :pump_capacity %>
        </div>
      </td>
      
    </tr>
    <tr>
      <td>  <div class="field">
          <%= f.label :some_energy_rate_metric %>
        </td><td>
          <%= f.text_field :some_energy_rate_metric %>
        </div>
      </td>
      <td>  <div class="field">
          <%= f.label :cropping_year %>
        </td><td>
          <%= f.text_field :cropping_year %>
        </div>
      </td>
      <td>  <div class="field">
          <%= f.label :notes %>
        </td><td>
          <%= f.text_field :notes %>
        </div>
      </td>
      
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
	<% end %>
<table border="1">
  <tr>
  	<td><%= button_to "Delete this pivot", :controller => 'pivots', :action => :destroy, :id => @pivot[:id], :confirm => "Are you sure?"%></td>
    <td>Select A Different Pivot
      <form style="display:inline" action="/wisp/pivot_crop">
        <%= select_tag "pivot_id", options_from_collection_for_select(@pivots,"id","name"), :selected => @pivot[:id] %>
        <%= submit_tag "Go"%>
      </form>
    </td>
    <td><%= link_to "Add New Pivot", :controller => 'pivots', :action => :new, :farm_id => @farm[:id] %></td>
	</tr>
</table>
</div>

<div id="fieldDataBox">
	<h2>Field Data for <%= @pivot.name %></h2>
	<%= render :partial => '/wisp/partials/field_setup_grid'%>
</div>
<div id="cropsDataBox">
  <% if @field %>
  	<h2>Crop Data for <%= @field.name %></h2>
	<% else %>
  	<h2>Crop Data (select field above)</h2>
  <% end %>
	<div id="cropDataGrid"></div>
</div>


<% content_for :footer do %>
<%= render :partial => '/wisp/partials/debug'%>
<% end %>