<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
  <%= jqgrid_stylesheets.html_safe -%>
  <style type="text/css">
  	h2.pagehead {text-align:center;}
  	#pivotDataBox
  	{
  		position:absolute;
  		left:275px;
  		top:130px;
  		width:920px;
  		padding:2px;
  		margin:0px;
  	}
  	.field {
  	  display:inline;
  	}
		
  	#fieldDataBox
  	{
  		position:absolute;
  		left:275px;
  		top:325px;
  		width:920px;
  		padding:2px;
  		margin:0px;
  	}
  	#cropsDataBox
  	{
  		position:absolute;
  		left:275px;
  		top:520px;
  		width:920px;
  		padding:2px;
  		margin:0px;
  	}
		
   </style>
<% end %>
<%= content_for :scripts do %>
  <%= jqgrid_javascripts.html_safe %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      $('#fieldDataGrid').load('<%= url_for merge_usuals(:controller => "wisp", :action => :field_setup_grid) %>');
      $('#cropDataGrid').load('<%= url_for merge_usuals(:controller => "wisp", :action => :crop_setup_grid) %>');
    });
  </script>
<% end %>


<% content_for :welcome do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<h2 class="pagehead">WISP Pivot, Field and Crops Data for farm <%= @pivot.farm.name %></h2>

<div id="pivotDataBox">
	<%= render :partial => '/wisp/partials/pivot_setup_grid'%>
	
</div>

<div id="fieldDataBox">
  <div id="fieldDataGrid"></div>
</div>
<div id="cropsDataBox">
	<div id="cropDataGrid"></div>
</div>


<% content_for :footer do %>
<%= render :partial => '/wisp/partials/debug'%>
<% end %>