<h3>Farm: <%= @farm.name %></h3>
<h3>Pivot: <%= @pivot.name %></h3>
<h3>Field: <%= @field.name %></h3>

<table>
  <%= render :partial => 'wisp/partials/scaffold_table_headers', :locals => {:obj_class => Crop} %>

<% @crops.each do |crop| %>
  <tr>
    <%= render :partial => 'wisp/partials/scaffold_table_show', :locals => {:obj => crop } %>
    <td><%= link_to 'Show', crop %></td>
    <td><%= link_to 'Edit', edit_crop_path(crop) %></td>
    <td><%= button_to 'Destroy', crop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field crop', new_crop_path %>
