<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  <% end %>

  <div class="devise-btns btn-group">
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
