<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script language="JavaScript">
    <%= yield :header_script -%>
  </script>
	<title><%= yield :title -%></title>
	<%= yield :stylesheet -%>
	<%= yield :scripts -%>
	
</head>

<body>

<div id="wrapper">
	<h1><%= link_to "UW Extension Ag Weather", :controller => "navigation" %></h1>
	<div id="nav">
    <%= link_to "Weather", :controller => "weather" %>
		<%= link_to "Sun/Water", :controller => "sun_water" %>
		<%= link_to "Thermal Models", :controller => "thermal_models" %>        
		<%= link_to "About Us", :controller => "navigation", :action => :about %>
	</div>
	<div id="main_body">
				<div id="welcome">
				  <%= yield :welcome -%>
				</div>
				<div id="content">
          <%= yield -%>
				</div>
				<div class="clear"></div>
	</div>
	<div id="footer">
	  <%= yield :footer %>
		<p>Copyright ©2012 University of Wisconsin. All rights reserved</p>
	</div>
</div>

</body>
</html>
