<% content_for :title do %>
 Degree Day Calculator
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "thermal.png", {:width => "231", :height => "231", :alt => "Contour map"} %>
  <h2>Thermal Models</h2>
  <p></p>
<% end %>

<!-- Content for remainder of stuff -->
<%= image_tag "degree_flower.png", {:width => "109", :height => "80", :alt => "Pic 2", :class => "left"} %>
<h2>Degree Day Calculator</h2>
<p>Degree days totalize the amount of heat available above a threshold temperature since a given day.
The number of degree days accumulated over some period of time is often related to the phenological development of plants and insects, 
and so can be used to estimate when pests will be at a life stage vulnerable to control. The base, or lower threshold temperature is that 
below which the organism does not grow or develop. The cap, or upper threshold is the maximum temperature at which organismal development occurs. Some specific examples can be found at our 
<%= link_to 'European Corn Borer', :action => :ecb %> and <%= link_to 'Alfalfa weevil', :action => :alfalfa %> web pages.
</p>
<!--<P>A general introduction to using degree day calculations can be found on the <a href="http://128.104.239.6/scout/intro/degree_days.htm">UW IPCM website 
  </a>.-->
<p>
<form name="ddform" ACTION=http://www.soils.wisc.edu/asigServlets/DDReport method="Get"> 
<B>1)</B> First, please select the location for the degree day data you wish to calculate: 
<P>
<table>
<tr>
    <td><%= image_tag "WIMNlatlon.jpg" %>

<td>(north) Latitude <select Name="Latitude">
  <%= coord_select_options %>
</select>

(west) Longitude <select Name="Longitude">
  <%= coord_select_options(98.0,86.0,-0.4)%>
</select>
</td>
</tr>
</table>

<P><HR>
<P> <B>2)</B> Next, please choose the degree day calculation parameters required: 
<P>Note: These parameters are usually specific for a particular crop and pest. 
  Make sure you are using the right ones for your particular situation. Some values 
  for common pests in our area are listed below.
<table width="100%" border="0">
  <tr>
    <td width="40%"> 
      <p><b>Biofix (begin) date:</b> 
        <br/><%= date_selectors %>
      <p><b>End date:</b>
        <br/><%= date_selectors({:names => %w(endyear endmonth endday)})%>

      <p><b><a href="/uwex_agwx_data/asos/DDDefs.html">Degree day method</a>:</b> 
        <select name="method">
          <option value="0">Simple 
          <option value="1">Modified 
          <option value="2">Sine 
          <option value="3">PDays 
        </select>
        <br>
        <b>Lower threshold temperature (Degrees F):</b> 
        <input name="lowthresh" value="52">
        <br>
        <b>Upper threshold temperature (Degrees F):</b> 
        <input name="upthresh">
      </p>
</td>
	<td valign="top" width="60%">
		<table width="100%" border="1">
			<tr>
				<th>Pest</th>
				<th>Method</th>
				<th>Base Temp</th>
				<th>Upper Temp</th>
				<th>Biofix</th>
			</tr>
			<tr>
				<td><a href="http://www.datcp.state.wi.us/arm/agriculture/crops/applescab/applescab.jsp">Apple Scab</a></td>
				<td>Simple</td>
				<td>32F</td>
				<td>None</td>
				<td>Bud break</td>
			</tr>
			<tr>
				<td><!-- <a href="http://128.104.239.6/scout/field_pdfs/ALTOC.pdf" >Alfalfa Weevil </a>--> 
					Alfalfa Weevil (<%= link_to "DD Map", :action => :alfalfa %>)</td>
				<td>Sine</td>
				<td>48F</td>
				<td>86F</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td>Black Cutworm</td>
				<td>Sine</td>
				<td>50.7F</td>
				<td>86.0F</td>
				<td></td>
			</tr>
			<tr>
				<td><!-- <a href="http://128.104.239.6/scout/colecrops/cabmaggot.htm" >-->Cabbage Maggot<!-- </a>--></td>
				<td>Simple</td>
				<td>43F</td>
				<td>None</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td><!-- <a href="http://128.104.239.6/scout/potato/col_pot_beetle.htm" >-->Colorado Potato Beetle<!-- </a>--></td>
				<td>Simple</td>
				<td>52F</td>
				<td>None</td>
				<td>When eggs are first scouted</td>
			</tr>
			<tr>
				<td>Common Asparagus Beetle</td>
				<td>Simple</td>
				<td>50F</td>
				<td>None</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td>Corn plant development (<%= link_to 'DD Map', :action => :corn_dev %>)
				</td>
				<td>Modified</td>
				<td>50F</td>
				<td>86F</td>
				<td>Emergence</td>
			</tr>
			<tr>
				<td><!-- <a href="http://128.104.239.6/scout/sweet_corn/cornrootwm.htm" >-->Corn Rootworm Adults<!-- </a>--></td>
				<td>Simple</td>
				<td>50F</td>
				<td>None</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td>Cranberry plant development<!-- (<a href="http://www.soils.wisc.edu/uwex_agwx_data/cranberry/crandd.html">DD Map</a>)-->
				</td>
				<td>Modified</td>
				<td>45F</td>
				<td>86F</td>
				<td>Ice off</td>
			</tr>
			<tr>
				<td>European Corn Borer (<%= link_to 'DD Map', :action => :ecb %>)<BR />
					(<!-- <a href="http://128.104.239.6/scout/sweet_corn/eurocornbor.htm" >-->Sweet corn,<!-- </a>-->
					<!-- <a href="http://128.104.239.6/scout/field_pdfs/3fieldcorn.pdf" >--> Field corn<!-- </a>-->)</td>
				<td>Modified</td>
				<td>50F</td>
				<td>86F</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td>Fleabeetles<BR />(<!-- <a href="http://128.104.239.6/scout/beet/fleabee.htm" >-->Beet, <!-- </a>-->
					<!-- <a href="http://128.104.239.6/scout/colecrops/fleabeetle.htm" >-->Cole crops, <!-- </a>-->
					<!-- <a href="http://128.104.239.6/scout/potato/potato_fleabee.htm" >-->Potato<!-- </a>-->)
				</td>
				<td>Simple</td>
				<td>50F</td>
				<td>None</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td><!-- <a href="http://128.104.239.6/scout/colecrops/impcabworm.htm" >-->Imported Cabbageworm<!-- </a>--></td>
				<td>Simple</td>
				<td>50F</td>
				<td>None</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td><!-- <a href="http://128.104.239.6/scout/onion/onionmag.htm" >-->Onion Maggot<!-- </a>--></td>
				<td>Simple</td>
				<td>40F</td>
				<td>None</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td><!-- <a href="http://128.104.239.6/news/update/includes/ininc%5Fsqvinebr.htm"> -->Squash Vine Borer<!--</a>--></td>
				<td>Simple</td>
				<td>50F</td>
				<td>None</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td>Stalk Borer (<%= link_to 'DD Map', :action => :corn_stalk_borer %>)<BR />
					(<!-- <a href="http://128.104.239.6/scout/sweet_corn/stlkborer.htm" >-->Sweet Corn, <!-- </a>-->
					<!-- <a href="http://128.104.239.6/scout/field_pdfs/3fieldcorn.pdf" >-->Field Corn, <!-- </a>-->
					<!-- <a href="http://128.104.239.6/scout/potato/com_stalk_borer.htm" >-->Potato, <!-- </a>-->
					<!-- <a href="http://128.104.239.6/scout/snap_bean/com_stlkbor.htm" >-->Snap Bean<!-- </a>-->)
				</td>
				<td>Sine</td>
				<td>41F</td>
				<td>86F</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td>Tree and shrub pests (<%= link_to 'DD Map', :action => :tree %>)
				</td>
				<td>Modified</td>
				<td>50F</td>
				<td>86F</td>
				<td>January 1</td>
			</tr>
			<tr>
				<td>Western Bean Cutworm (<%= link_to 'More information', :action => :westernbeancutworm %>)
				</td>
				<td>Simple</td>
				<td>50F</td>
				<td></td>
				<td>May 1</td>
			</tr>
		</table>
	</td>
  </tr>
</table>
<P>&nbsp;
<hr>
<p><b>3) </b>Data output format:</p>
<p>
  <input TYPE="checkbox" NAME="year_doy" VALUE="yes">
  &nbsp Display date as year and day-of-year (default is year-month-day)
</p>
<p>
  <input type="radio" checked=true name="datadump" value="0"> Seven day summary page.<BR />
  <input type="radio" name="datadump" value="1"> As text, for selected time period, ready for downloading.
</p>
<P><HR>
<P> <B>4)</B> Finally, click the "Submit" button to obtain your results: 
<P><input type="submit" value="Submit">&nbsp <input type="reset" value="Clear All Inputs">

<script type="text/javascript">
	var d = new Date()
	document.ddform.endday.selectedIndex = d.getDate()-1
	document.ddform.endmonth.selectedIndex = d.getMonth()
	document.ddform.endyear.selectedIndex = d.getFullYear() - 2000
	document.ddform.startyear.selectedIndex = d.getFullYear() - 2000
</script>

</form>
