<%= form_for(@weather_station) do |f| %>
  <% if @weather_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather_station.errors.count, "error") %> prohibited this weather_station from being saved:</h2>

      <ul>
      <% @weather_station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <p>
    <div class="field">
      <table>
        <tr><th>Fields selected for this station</th><th align="center">&nbsp;</th><th>Available fields for this station</th></tr>
        <tr>
          <td width="40%"><%= f.select :field_ids, @weather_station.fields.collect { |f| [f.name,f.id] }, {}, {size: 20, multiple: true, style: "width:98%"} %></td>
          <td width="10%" align="center"><button type="button" onclick="add();">Add</button><br/><button type="button" onclick="addAll();">Add all</button><br/>&nbsp;<br/><button type="button" onclick="removeFromLeft();">Remove </button><br/><button type="button" onclick="removeAll();">Remove all</button></td>
          <td width="40%"><%= collection_select :multi_edit_link, :weather_station_id, @available_fields - @weather_station.fields, :id, :name, {}, {size: 20, multiple: true, style: "width:90%"}%></td>
        </tr>
      </table>
    </div>
  </p>
  <div class="actions">
    <button onclick="clickIt();">OK</button>
  </div>
<% end %>
