<script>
  function option(id, text) {
    return `<option value='${id}'>${text}</option>`;
  }

  function add() {
    $('#multi_edit_link_weather_station_id option:selected').each(function() {
      const opt = option($(this).attr("value"), $(this).text());
      $('#weather_station_field_ids').append(opt);
      $('#multi_edit_link_weather_station_id option:selected').remove();
    });
  }

  function addAll() {
    // just like add, except don't bother picking out the selected one(s)
    $('#multi_edit_link_weather_station_id option').each(function() {
      const opt = option($(this).attr("value"), $(this).text());
      $('#weather_station_field_ids').append(opt);
      $(this).remove();
    });
  }

  function remove() {
    // exactly the inverse of add()
    $('#weather_station_field_ids option:selected').each(function() {
      const opt = option($(this).attr("value"), $(this).text());
      $('#multi_edit_link_weather_station_id').append(opt);
      $('#weather_station_field_ids option:selected').remove();
    });
  }

  function removeAll() {
    // same as remove(), except we don't bother with selected
    $('#weather_station_field_ids option').each(function() {
      const opt = option($(this).attr("value"),$(this).text());
      $('#multi_edit_link_weather_station_id').append(opt);
      $(this).remove();
    });
  }

  function selectEverything() {
    $('#weather_station_field_ids option').each(function() {
      $(this).attr('selected', true);
    });
  }

  function clickIt() {
    form = $(this).parentsUntil('form');
    selectEverything();
    form.submit();
  }

  // double-click handler for adding
  $('#multi_edit_link_weather_station_id option').on('dblclick', function() {
    console.log('dbl')
    add();
  });

  // and one for removing
  $('#weather_station_field_ids option').on('dblclick', function() {
    console.log('dbl')
    remove();
  });
</script>

<%= form_for(@weather_station) do |f| %>
  <% if @weather_station.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@weather_station.errors.count, "error") %> prohibited this weather_station from being saved:</h3>
      <ul>
      <% @weather_station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline-flex">
    <div class="field">
      <%= f.label :name, 'Group Name' %><br />
      <%= f.text_field :name, required: true, placeholder: "Enter a name" %>
    </div>
    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :notes %><br />
      <%= f.text_field :notes %>
    </div>
  </div>
  <p>
    <div class="field">
      <table>
        <tr>
          <th>Available fields for this group</th>
          <th align="center"></th>
          <th>Fields selected for this group</th>
        </tr>
        <tr>
          <td width="25%">
            <%= collection_select :multi_edit_link, :weather_station_id, @available_fields - @weather_station.fields, :id, :name, {}, {size: 20, multiple: true, style: "width:100%"}%>
          </td>
          <td width="10%" align="center">
            <div class="flex-down">
              <button type="button" class="btn btn-success" onclick="add();">Add >></button>
              <button type="button" class="btn btn-success" onclick="addAll();">Add all</button>
              &nbsp;
              <button type="button" class="btn btn-warning" onclick="remove();"><< Remove </button>
              <button type="button" class="btn btn-warning" onclick="removeAll();">Remove all</button>
            </div>
          </td>
          <td width="25%">
            <%= f.select :field_ids, @weather_station.fields.collect { |f| [f.name, f.id] }, {}, {size: 20, multiple: true, style: "width:100%"} %>
          </td>
        </tr>
      </table>
    </div>
  </p>
  <div class="actions">
    <button class="btn btn-primary" onclick="clickIt();">Save Field Group</button>
  </div>
<% end %>
