<%= render "header" %>

<h3>Current field groups</h3>
<div>
  <% if weather_stations.size > 0 %>
    <div class="overflow">
      <table id="fieldGroupTable" class="fancy-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Fields</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% weather_stations.order(:name).each do |group| %>
            <tr>
              <td><%= group.name %></td>
              <td><%= group.location %></td>
              <td>
                <% if group.fields.size == 0 %>
                  <i>No fields added.</i>
                <% else %>
                  <ol>
                    <% group.fields.order(:name).each do |field| %>
                      <li><%= field.name %></li>
                    <% end %>
                  </ol>
                <% end %>
              </td>
              <td><%= group.notes %></td>
              <td>
                <div class="btn-group">
                  <%= link_to 'Edit', edit_weather_station_path(group), class: "btn btn-light" %>
                  <%= link_to "Enter data", { controller: :wisp, action: :weather, weather_station_id: group.id }, class: "btn btn-light" %>
                  <%= button_to 'Delete', group, method: :delete, class: "btn btn-danger", data: { confirm: "Delete field group '#{group.name}'?" } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>You don't have any field groups set up. Click the button below to add one.</p>
  <% end %>
</div>

<div style="margin-top: 10px">
  <%= link_to 'Add New Field Group', new_weather_station_path, class: "btn btn-primary" %>
</div>
