<%= render "header" %>

<h3>Current field groups</h3>
<div class="content-box">
  <% if weather_stations.size > 0 %>
    <table id="fieldGroupTable">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Location</th>
        <th>Fields</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
    <% weather_stations.order(:name).each_with_index do |weather_station, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= weather_station.name %></td>
        <td><%= weather_station.location %></td>
        <td>
          <% if weather_station.fields.size == 0 %>
            <i>No fields added.</i>
          <% else %>
            <ol>
              <% weather_station.fields.order(:name).each do |ws| %>
                <li><%= ws.name %></li>
              <% end %>
            </ol>
          <% end %>
        </td>
        <td><%= weather_station.notes %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_weather_station_path(weather_station), class: "btn btn-light" %>
            <%= link_to "Enter data", { controller: :wisp, action: :weather, weather_station_id: weather_station.id }, class: "btn btn-light" %>
            <%= button_to 'Delete', weather_station, method: :delete, class: "btn btn-danger", data: { confirm: "Delete field group '#{weather_station.name}'?" } %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <p>You don't have any field groups set up. Click the button below to add one.</p>
  <% end %>
</div>

<div style="margin-top: 10px">
  <%= link_to 'Add New Field Group', new_weather_station_path, class: "btn btn-primary" %>
</div>
