<% content_for :title do %>
  WISP: Field Groups
<% end %>

<%= render partial: 'header' %>

<p id="notice"><%= notice %></p>

<p><b>Name:</b><%= @weather_station.name %></p>
<p><b>Location:</b><%= @weather_station.location %></p>
<p><b>Notes:</b><%= @weather_station.notes %></p>
<p>
  <b>Fields:</b><br/>
  <% for field in @weather_station.fields %>
    <%= field.name %><br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_weather_station_path(@weather_station) %> |
<%= link_to 'Back', weather_stations_path %>
