<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'wisp/sidebar' %>
<% end %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @irrigation_events.each do |irrigation_event| %>
  <tr>
    <td><%= link_to 'Show', irrigation_event %></td>
    <td><%= link_to 'Edit', edit_irrigation_event_path(irrigation_event) %></td>
    <td><%= button_to 'Destroy', irrigation_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Irrigation event', new_irrigation_event_path %>
