<script>
  <%= grid_javascript_settings %>

  // If pivot_id is set, load the field grid for that one. If it's zero,
  // grab the id of the first pivot in the grid and use that.
  function loadFieldGrid() {
    if (!pivot_id) {
      pivot_id = $("#pivot_setup").getDataIDs()[0];
    }
    $('#fieldDataGrid').load(
      '<%= url_for(controller: :wisp, action: :field_setup_grid) %>',
      { pivot_id: pivot_id, farm_id: farm_id }
    );
  }

  function rowSelect(id) {
    if (!id) return;
    if (id !== pivot_id) $('#pivot_setup').restoreRow(pivot_id);
    pivot_id = id;
    $('#pivot_setup').editRow(id, true, null, updatePivotSelectName);
    loadFieldGrid(); // will load for the pivot id we just selected
  }

  function reloadGrids(pivot_id) {
    $('#pivotDataGrid').load(
      '<%= url_for(controller: :wisp, action: :pivot_crop) %>',
      { farm_id: farm_id, parent_id: farm_id, pivot_id: pivot_id, ajax: true }
    );
  }

  function reloadPage() {
    url = '<%= url_for(controller: :wisp, action: :pivot_crop, pivot_id: "", field_id: "") %>';
    window.location.href = url;
  }

  function deletePivot(id) {
    pivot_id = 0; // We no longer know what the current one is; find out after grids reload
    $('#pivot_setup').delGridRow(id, { afterSubmit: reloadPage } );
  }

  function addPivotToSelect(id, pivot_data) {
    $('#pivot_id').append($('<option/>', {
      value: id,
      text: pivot_data['name'],
    }));
    reloadGrids(id);
  }

  function updatePivotSelectName(response) {
    let json = $.parseJSON(response.responseText);
    let name = json['name'];
    let id = json['id'];
    $(`#pivot_id option[value=${id}]`).text(name);
    $('#pivot').val(id);
    loadFieldGrid();
    return(true);
  }

  function addPivotDeleteButtons() {
    let ids = $("#pivot_setup").getDataIDs();
    nRows = ids.length;
    for (let i=0; i<nRows; i++) {
      let id = ids[i];
      be = `<input style='height: 22px; width: 35px;' type='button' value='Del' onclick='deletePivot(${id});'></ids>`;
      $("#pivot_setup").setRowData(id, { act: be } );
    }
  }

  function addNewPivotRow() {
    let grid = $('#pivot_setup');
    newPivot = createNewPivot();
    pivot_id = newPivot['id'];
    grid.addRowData(pivot_id, newPivot); // add a new row with the new field's data
    addPivotDeleteButtons();
    addPivotToSelect(pivot_id, newPivot);
    grid.editRow(pivot_id, true, null, updatePivotSelectName); // put new row into inline-edit mode
  }

  function createNewPivot() {
    let pvt = {};
    $.ajax(
      {
        type: "POST",
        url: '<%= url_for(controller: :pivots, action: :post_data) %>',
        dataType: "json",
        data: { farm_id: farm_id, parent_id: farm_id, oper: 'add', id: '_empty' },
        contentType: "application/x-www-form-urlencoded", // This is so Rails knows to decode it
        async: false,
        success: function(json) {
          pvt = json;
        }
      }
    );
    return pvt;
  }

  $(document).ready(function() {
    // Load the dependent field and crop grids with appropriate values
    <%= grid_javascript_settings %> // Sets pivot_id
    loadFieldGrid();
    var mygrid = $("#pivot_setup").jqGrid({
      // url: '<%= url_for(controller: "pivots", farm_id: @farm_id) %>' + `&pivot_id=${pivot_id}`,
      url: '<%= url_for(controller: "pivots", farm_id: @farm_id) %>',
      editurl:'<%= grid_post_data_url "pivots", @farm_id %>',
      datatype: "json",
      colNames: ['Name','Lat.','Long.','WDNR Hicap Well No','Pump Capacity','Energy Type','Crop Yr','Notes','Delete','Farm ID','ID'],
      colModel: [
        { name: 'name', index: 'name', width: 83, editable: true },
        { name: 'latitude', index: 'latitude', width: 18, editable: true, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2 }, editrules: { number: true, minValue: 42.0, maxValue: 50.0 } },
        { name: 'longitude', index: 'longitude', width: 18, editable: true, align: 'right', formatter: 'number', formatoptions: { decimalPlaces: 2 }, editrules: { number: true, minValue: -98.0, maxValue: -86.0 } },
        { name: 'equipment', index: 'equipment', width: 55, editable: true, align: 'right' },
        { name: 'pump_capacity', index: 'pump_capacity', width: 40, editable: true, align: 'right', editrules: { number: true, minValue: 0.0 } },
        { name: 'some_energy_rate_metric', index: 'some_energy_rate_metric', resizable: true, width: 60, editable: true, align: 'left', editrules: { required: false }, sorttype: "text", edittype: "select", formatter: 'select', editoptions: { value: "<%= energy_types_for_select %>" } },
        { name: 'cropping_year', index: 'cropping_year', width: 20, editable: false, align: 'right' },
        { name: 'notes', index: 'notes', width: 80, editable: true, align: 'right' },
        { name: 'act', index: 'act', width: 20 },
        { name: 'farm_id', index: 'farm_id', width: 10, hidden: true, editable: true },
        { name: 'id', index: 'id', width: 1, hidden: true, editable: true },
      ],
      pager: '#pivot_setup_pager',
      rowNum: 5,
      rowList: [5],
      imgpath: '<%= image_folder_path("jqgrid") %>',
      sortname: '',
      viewrecords: true,
      sortorder: '',
      gridview: false,
      scrollrows: true,
      autowidth: true,
      autoheight: true,
      rownumbers: false,
      multiselect: false,
      loadComplete: function() {
        addPivotDeleteButtons();
      },
      onSelectRow: rowSelect,
      subGrid: false,
      caption: "Pivots <%= @farm ? "for #{@farm.name}" : '' %>"
    })
  });
</script>

<div id="pivotDataGrid">
  <table id="pivot_setup" class="scroll" cellpadding="0" cellspacing="0"></table>
  <div style="margin-top: 10px; margin-bottom: 10px;">
    <button type="button" class="btn btn-light" onclick="addNewPivotRow();">Add New Pivot</button>
  </div>
</div>
