<h2 style="padding:5px">
  Seasonal Totals<br/>
  <%= @field.current_crop.emergence_date.to_s %> to <%= @summary_data[:date] %>
</h2>

<p style="font-size: larger">
  <%= link_to "Create Report in CSV Format", :controller => 'field_daily_weather', :field_id => @field, :page => 1, :rows => FieldDailyWeather::SEASON_DAYS, :format => :csv %>
</p>

<table border="0">
  <tr>
    <th>Rainfall:</th>
    <td><%= sprintf("%0.2f", @summary_data[:rain] || 0.0) %> in.</td>
  </tr>
  <tr>
    <th>Irrigation:</th>
    <td><%= sprintf("%0.2f", @summary_data[:irrigation] || 0.0) %> in.</td>
  </tr>
  <tr>
    <th>ET:</th>
    <td> <%= sprintf("%0.2f", @summary_data[:adj_et] || 0.0) %> in.</td>
  </tr>
  <tr>
    <th>Drainage:</th>
    <td> <%= sprintf("%0.2f", @summary_data[:deep_drainage] || 0.0) %> in.</td>
  </tr>
</table>
<% if first_projected_idx = @projected_ad_data.index { |padd| padd } %>
  <h2 style="padding-top:35px; padding-bottom:5px;">Projected Allowable Depletion</h2>
  <p>Two days hence, based on the max adjusted ET in the past week (i.e., worst case).</p>
  <table border="0">
    <tr>
      <th><%= @dates[first_projected_idx].strftime("%b %d")%>:</th>
      <td id="proj_ad_1"><%= sprintf("%0.2f",@graph_data[first_projected_idx] || 0.0) %> in.</td>
    </tr>
    <% if first_projected_idx < @ad_data.size %>
      <tr>
        <th><%= @dates[first_projected_idx + 1].strftime('%b %d')%>:</th>
        <td id="proj_ad_2"><%= sprintf("%0.2f",@graph_data[first_projected_idx + 1]) %> in.</td>
      </tr>
    <% end %>
  </table>
<% end %>
