<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler 2012
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
  <%= jqgrid_stylesheets.html_safe -%>
<% end %>

<%= content_for :scripts do %>
  <%= jqgrid_javascripts.html_safe %>
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'wisp/sidebar' %>
<% end %>

<%= jqgrid("Field Daily Weather", "weather", "/field_daily_weather",
  [
    { :field => "id", :label => "ID", :width => 30 },
    { :field => "date", :label => "Date", :width => 75 },
    { :field => "ref_et", :label => "RefET", :width => 50, :editable => true },
    { :field => "adj_et", :label => "Adj. ET", :width => 50 },
    { :field => "rain", :label => "Rain", :width => 50 },
    { :field => "irrigation", :label => "Irrig", :width => 50 },
    { :field => "entered_pct_moisture", :label => "% Moisture", :width => 50 },
    { :field => "entered_pct_cover", :label => "% Cover", :width => 50 },
    { :field => "leaf_area_index", :label => "LAI", :width => 50 },
    { :field => "calcualated_pct_moisture", :label => "Calc. % Moist", :width => 50 },
    { :field => "ad", :label => "AD", :width => 50 },
    { :field => "deep_drainage", :label => "Deep Drainage", :width => 50 },
  ]
).html_safe %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @field_daily_weather.each do |field_daily_weather| %>
  <tr>
    <td><%= link_to 'Show', field_daily_weather %></td>
    <td><%= link_to 'Edit', edit_field_daily_weather_path(field_daily_weather) %></td>
    <td><%= button_to 'Destroy', field_daily_weather, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field daily weather', new_field_daily_weather_path %>
