<h3>Farm: <%= @farm.name %></h3>
<table>
  <%= render :partial => 'wisp/partials/scaffold_table_headers', :locals => {:obj_class => Pivot} %>

<% @pivots.each do |pivot| %>
  <tr>
    <%= render :partial => 'wisp/partials/scaffold_table_show', :locals => {:obj => pivot } %>
    <td><%= link_to 'See fields for this pivot', :controller => 'fields', :pivot_id => pivot[:id]%></td>
    <td><%= link_to 'Show', pivot %></td>
    <td><%= link_to 'Edit', edit_pivot_path(pivot) %></td>
    <td><%= button_to 'Destroy', pivot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pivot', new_pivot_path %>
