<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler 2012
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= render partial: 'welcome/sidebar' %>
<% end %>
<%= render 'form' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Pivot:</b>
  <%= @field.pivot_id %>
</p>

<p>
  <b>Name:</b>
  <%= @field.name %>
</p>

<p>
  <b>Soil type:</b>
  <%= @field.soil_type %>
</p>

<p>
  <b>Area:</b>
  <%= @field.area %>
</p>

<p>
  <b>Field capacity:</b>
  <%= @field.field_capacity %>
</p>

<p>
  <b>Perm wilting pt:</b>
  <%= @field.perm_wilting_pt %>
</p>

<p>
  <b>Poten. ET station:</b>
  <%= @field.ref_et_station_id %>
</p>

<p>
  <b>Rain station:</b>
  <%= @field.rain_station_id %>
</p>

<p>
  <b>Soil moisture station:</b>
  <%= @field.soil_moisture_station_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @field.notes %>
</p>


<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back to Pivots, Fields, and Crops', :controller => 'wisp', :farm_id => @field.pivot.farm[:id], :pivot_id => @field.pivot[:id], :field_id => @field[:id] %>
