<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png">
  <%= stylesheet_link_tag "application" %>
  <%= yield :styles %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag 'application' %>
  <%= yield :scripts %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["WISP_GTAG"] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= ENV["WISP_GTAG"] %>');
  </script>
  <title><%= @title ? "#{@title} - WISP" : "WISP - Wisconsin Irrigation Scheduling Program" %></title>
</head>

<body>
  <div class="wrapper">
    <div class="nav-bar">
      <div class="nav-title">
        <h1><%= link_to "Wisconsin Irrigation Scheduling Program", "/home", title: "WISP Home" %></h1>
      </div>
      <div class="nav-btns">
        <% @nav_tabs.each do |tab| %>
          <%= link_to tab[:path] do %>
            <div class="nav-btn<%= tab[:selected] ? ' selected' : ''%>" title="<%= tab[:title]%>"><%= tab[:title] %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="main-wrapper">
      <div class="main">
        <div class="sidebar-wrapper">
          <div class="sidebar-image">
            <%= link_to image_tag("pivot.jpg", title: "WISP Home"), "/home" %>
          </div>
          <div class="sidebar">
            <%= render partial: "home/sidebar" %>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="content">
            <%= render partial: "home/notice" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright ©<%= Date.current.year %> University of Wisconsin. All rights reserved.</p>
    </div>
  </div>
</body>

</html>
