<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= yield :title -%></title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JGNGBHQEKD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JGNGBHQEKD');
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag "application" -%>
  <% if content_for?(:stylesheet) %>
    <%= yield :stylesheet -%>
  <% end %>
  <%= csrf_meta_tags %>
  <!-- This is part of the protect_from_forgery fix from http://henrik.nyh.se/2008/05/rails-authenticity-token-with-jquery -->
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_include_tag 'application' %> <!-- Don't want everything in defaults, just the XSS stuff I put in -->
</head>

<body>
  <div id="wrapper">
    <h1><%= link_to "UW Extension Ag Weather", "https://agweather.cals.wisc.edu/" %></h1>
    <div id="nav">
      <%= link_to "WISP Home", root_path %>
      <%= link_to "Weather", "http://agweather.cals.wisc.edu/weather/index" %>
      <%= link_to "Sun/Water", "http://agweather.cals.wisc.edu/sun_water/index" %>
      <%= link_to "About Us", about_welcome_index_path %>
    </div>
    <div id="main_body">
      <div id="welcome">
        <% if content_for?(:welcome) %>
          <%= yield :welcome -%>
        <% else %>
          <%= render partial: 'welcome/sidebar' %>
        <% end %>
      </div>
      <div id="content">
        <%= yield -%>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <%= yield :footer %>
      <p>Copyright ©2021 University of Wisconsin. All rights reserved</p>
    </div>
  </div>
</body>
</html>
